[2015-06-02 11:50] mariobehling opened #1 "Define steps to customize distro"
Document files and folders to customize browsers
- [ ] start page
- [ ] search engines
- [ ] amazon search

Document how to customize desktop
- [ ] background
- [ ] sound

Meta Package
- [x] Propose, build and document how to build a meta-package, that changes the distro accordingly.

References:
- https://code.launchpad.net/~lubuntu-dev/lxde/
- https://code.launchpad.net/~lubuntu-desktop/+junk/lu

[2015-06-03 08:56] mariobehling opened #2 "Event distro specifics"
Settings
* Switch off notifications
* Switch off updates
* Deactivate sleeping mode
* Deactivate Screen Saver and Lock with Password

Browser
* Set up loklak wall on start screen and as start page

File Exchange
* Set up Dropbox for File Exchange
* Add Skype

Possible definitions at Installation
* Enter loklak wall link
* Enter Open Event link
* Enter Dropbox Account or Public Folder

[2016-08-14 14:41] mariobehling opened #3 "Update distro to latest versions in repo"
- [x] Update script to latest ubuntu version 16.10 and compare to lubuntu version (http://bazaar.launchpad.net/~lubuntu-dev/ubuntu-seeds/lubuntu.yakkety/view/head:/desktop-qt)
- [ ] Create a meta package for the distro (some useful documentation https://blends.debian.org/blends/apb.html)
- [x] Add additional language packs and fonts for Asian languages
- [x] Add skype
- [x] Substitute qupzilla bro

[2016-08-14 15:40] #2 closed

[2016-08-15 13:04] mariobehling opened #4 "Add continuous integration tests and other frameworks"
- [x] Enhance travis
- [x] Add codacy

[2016-12-16 09:16] Abhi2424shek commented on #4
I got this down

[2016-12-16 13:12] Abhi2424shek commented on #3
Skype is added already... @mariobehling

[2016-12-17 07:12] Abhi2424shek commented on #3
@mariobehling please take a look at my PR please #5

[2016-12-17 07:20] Abhi2424shek commented on #4
@mariobehling in travis we would have to run ./build.sh right

[2016-12-18 09:51] mariobehling commented on #4
yes, correct. Please check if it works. There might be restrictions.

[2016-12-18 10:12] Abhi2424shek commented on #4
@mariobehling we are running setup.py on travis that's why we fail, let me give out a new PR.

[2016-12-21 09:31] Abhi2424shek commented on #4
@mariobehling please see #6 and for codeacy it's present already sir

[2016-12-21 15:43] Abhi2424shek commented on #3
@mariobehling can you check the list please. we have:
 Added skype [Checkbox no: 4]
Substituted qupzilla browser with Google Chrome in meta package [Checkbox no: 5]
and if you like you can also tick the third one add a new meta package but I prefer it unchecked for new coders.

[2016-12-21 16:29] Abhi2424shek commented on #3
@mariobehling I have an update on PPA's
We can't use this repo as a PPA as it a github repository. The main reason for this is because git uses a special server designed to work with source code, and not binary packages. An apt repository server can be set up with a package manager backend and almost any web server, and is specifically designed to work with binary packages.

We would need a new se

[2016-12-25 09:20] Abhi2424shek commented on #3
@mariobehling sir any updates

[2016-12-25 09:54] mariobehling opened #8 "Repository for distro"
The goal is to keep our files on our own server and have our own repository. What is the simplest model to get this for now?

[2016-12-25 09:55] mariobehling commented on #3
@Abhi2424shek We should be able to get the repositories online on our own server instead of the Launchpad. I created an issue for this here https://github.com/fossasia/meilix/issues/8

[2016-12-25 10:03] mariobehling commented on #8
Here is a project that I found, which could be used: https://github.com/krobertson/deb-s3

[2016-12-25 10:07] mariobehling commented on #8
Or: Turn your Apt repo into a git repo http://www.hackgnar.com/2016/01/creating-remote-apt-package.html

[2016-12-25 10:10] mariobehling commented on #8
Another starting point: https://www.reddit.com/r/jailbreak/comments/3cc4fn/tutorial_how_to_set_up_a_repo_using_github_pages/

[2016-12-25 10:47] Abhi2424shek commented on #8
I got the solution sir @mariobehling we could easily set up one apt repository; We could run a script with Travis that pushes to a git repo hosted on the server and make a copy and convert it to a apt repository;

But can you @mariobehling have a server for it or should i afford the server, a domain name is also required as we cant host it on github. Sub domains are accepted by apt, so we would re

[2016-12-26 05:18] Abhi2424shek commented on #8
@mariobehling done it see PR #8

[2016-12-26 05:39] mariobehling commented on #8
@Abhi2424shek Preferred solution would be to use GitHub pages. See earlier my [comment](https://github.com/fossasia/meilix/issues/8#issuecomment-269116760). We can define a subdomain for this e.g. apt.fossasia.org.

[2016-12-26 06:18] Abhi2424shek commented on #8
@mnariobehling would follow it up, I saw it the comment states apt to git but it should be git to apt!

[2016-12-26 07:16] Abhi2424shek commented on #8
@mariobehling please see PR #10 it resolves this issue

[2016-12-26 08:10] Abhi2424shek commented on #3
@mariobehling it's (12th one) done - 12 is checked.

[2016-12-26 08:23] Abhi2424shek commented on #8
@mariobehling why did you open it sir?

[2016-12-26 08:23] Abhi2424shek commented on #4
@mariobehling why did you open this sir?

[2016-12-26 08:24] mariobehling commented on #4
It is not working. As you can see tests are failing.

[2016-12-26 08:28] Abhi2424shek commented on #4
@mariobehling the tests failing because of PAM module error, `dpkg` when processing encountered an error, that error is what we have to fix and not to tweak Travis, can we have a separate issue for that :)

[2016-12-26 08:32] mariobehling commented on #4
Thanks. Please open an issue.

[2016-12-26 08:33] Abhi2424shek commented on #4
@mariobehling sure

[2016-12-26 08:33] #4 closed

[2016-12-26 08:36] Abhi2424shek opened #11 "Travis CI is failing"
Here's the problem:
![image](https://cloud.githubusercontent.com/assets/8947010/21478731/28b22adc-cb74-11e6-8a3b-6fbb15f2a218.png)

As you can see at line no 2479-2482 there are some errors namely:
[code]

**As you can see there was an error in processing the `libpam` package which belonged to `systemd`.**

_Note: PAM = Pluggable Authentication Modules. Basically, it is a flexible mechanism for au

[2016-12-26 08:51] Abhi2424shek commented on #8
@mariobehling why was it opened sir?

[2016-12-27 03:24] Abhi2424shek opened #12 "Make Travis to commit new sources to the gh-pages branch"
This would give a regular branch policy and good results as we could even host it online. This could be achieved by Travis easily though a custom user account bot has to be created.

[2016-12-27 03:25] Abhi2424shek commented on #12
@mariobwhling please create the bot account and add it's password and username to the Travis repository settings (use don't show on logs button) please.

[2016-12-27 03:38] yukiisbored commented on #11
It's because Travis is running a distro that doesn't have systemd. Let me try running it on a Xenial docker container

[2016-12-27 03:39] yukiisbored commented on #11
Migrating `upstart` to `systemd` is impossible without doing a release upgrade (NO, Don't do this inside Travis' container)

[2016-12-27 03:41] Abhi2424shek commented on #12
Here's a basic flowchart (sorry for the rough one):
![1482809979134-1721112250](https://cloud.githubusercontent.com/assets/8947010/21489788/4dce8518-cc14-11e6-857c-ff3d51793a2e.jpg)

[2016-12-27 03:42] Abhi2424shek commented on #11
We can safe escape that portion

[2016-12-27 03:43] yukiisbored commented on #11
Anyway, I'm doing this issue as we speak. Can I get assigned for this issue?

[2016-12-27 03:43] Abhi2424shek commented on #11
Or @yukiisbored make an alternative patch for liban it can't be avoided for security.

[2016-12-27 03:43] yukiisbored commented on #11
@Abhi2424shek Workarounds are great, but they shouldn't be used on production. We can just use Docker for this ;)

[2016-12-27 03:44] yukiisbored commented on #11
I'm avoiding the usage of Vagrant/VMs because it's a heavy load for Travis

[2016-12-27 03:46] Abhi2424shek commented on #11
But more than docker they are quick however feel free to make a PR with docker and let us see how it works

[2016-12-27 04:16] yukiisbored commented on #11
Whoops, I dun goofed. I didn't see it actually sets the release version on `debootstrap`

[2016-12-27 04:41] Abhi2424shek commented on #11
@yukiisbored please understand the code then code! Good luck 👍

[2016-12-27 06:59] yukiisbored commented on #11
@Abhi2424shek Heh, I'm still fixing it. Just have to properly unmount the pseudo-filesystems before it builds the image

[2016-12-27 10:22] Abhi2424shek commented on #12
@mariobehling please create the gh-pages branch on the repo so that I could push back!

[2016-12-27 13:32] #11 closed

[2016-12-28 14:37] yukiisbored commented on #8
For the time being, we can just use launchpad.net as the hosting platform and manager of the repository. The reason why I picked launchpad.net is because it's easy to use and get started. We can do an advanced "real" repository later.

[2016-12-28 14:44] Abhi2424shek commented on #8
Hey @yukiisbored, we had a discussion and I too recommended to host on launchpad but we want the sources on our own server hence came to the conclusion to use this repo's gh-pages branch for the repository. Currently my PR #14 initializes the branch and the PR #15 creates a script which updates the sources when a new metapackage added PR is merged! The PR #14 did a lot of deletions and the branch

[2016-12-28 15:51] Abhi2424shek opened #16 "We don't have a license yet!"
We don't have a license yet for the meilix project so shall we go for one, if yes let us all express our views here in this issue.

[2016-12-28 15:52] Abhi2424shek commented on #16
I personally go for GNU GPL v3

[2016-12-29 06:41] yukiisbored commented on #8
I was wondering, isn't better if we leave Debian? Debian has a pretty complicated way of package management, repository, etc and it's too much to handle for a small community. Especially when the fact we don't even have our own server to host these repositories properly. `git` is pretty terrible at managing binary files (which is also the reason why this repo is pretty large), so I don't recommend

[2016-12-29 06:45] yukiisbored commented on #16
@Abhi2424shek We aren't creating our own programs, currently the packages are redistribution of existing projects. So, basically we can't have a license because we don't have a "product"

[2016-12-29 07:03] Abhi2424shek commented on #16
When we redistribute we should have a license @yukiisbored and some software require we redistribute it in their own license, hence it was to monetize such problems I created the issue!

[2016-12-30 14:17] Abhi2424shek commented on #12
It's resolves through PRs #14#15

[2016-12-30 14:17] #12 closed

[2016-12-31 11:55] yukiisbored commented on #16
no, you shouldn't have a license when you redistribute, you give the same license from the original project.

[2016-12-31 11:55] yukiisbored commented on #16
Especially with GPL

[2016-12-31 16:09] mariobehling commented on #16
@Abhi2424shek @yukiisbored We can use a license. LGPL would be good as it is less restrictive. Please add LGPL.

But also: As a matter of fact the license of this project is not super relevant as all applications used in the distro already have their own license. So the license is mainly relevant for the scripts, which is not such a big thing.

Hence, let's proceed with the actual code and let's n

[2016-12-31 17:14] Abhi2424shek commented on #16
@mariobehling sure!

[2016-12-31 17:14] #16 closed

[2017-01-01 14:53] Abhi2424shek commented on #8
It's fixed already then why should we have this?

[2017-01-01 14:53] #8 closed

[2017-01-01 14:54] Abhi2424shek commented on #3
@mariobwhling should we go for yakkety or xenail

[2017-01-01 18:21] mariobehling commented on #3
@Abhi2424shek Yakkety, please.

[2017-01-01 18:24] mariobehling opened #17 "Create CNAME for meilix.fossasia.org"
CNAME for meilix.fossasia.org

[2017-01-02 05:01] Abhi2424shek commented on #17
Closes via #18

[2017-01-02 05:01] #17 closed

[2017-01-02 05:02] Abhi2424shek commented on #3
@mariobehling on it but would take some time the classes are on...

[2017-01-02 05:04] Abhi2424shek opened #19 "Update the sources.list.d file to contain the updated domain"
The domain for the sources hosted on the gh-pages branch has been changed so as to continue serving from the updated domain we have to update the sources.list.d file.

[2017-01-04 11:59] Abhi2424shek opened #20 "Add apt-bot as a collaborator"
The script aptRepoUpdater.sh uses a bot to push the changes [new metapackages] back. To push changes back (i.e, to update the gh-pages branch via a commit) it (@apt-bot) would need write access to the meilix project so please add @apt-bot as a collaborator to the meilix project.

@mariobehling this one is for you sir.

[2017-01-05 16:39] Abhi2424shek commented on #20
Any updates pls

[2017-01-06 11:59] Abhi2424shek commented on #20
Done

[2017-01-06 11:59] #20 closed

[2017-01-08 06:10] Abhi2424shek opened #21 "Make an automatic update for systemlock"
The system lock is developed on another repo it would be nice if we could do an auto update from it to here. @mariobehling your views on this pls.

[2017-01-08 12:42] Abhi2424shek commented on #19
I thought some beginners want to have a go but taking it up since no one is interested.

[2017-01-08 15:38] #19 closed

[2017-01-08 18:11] niccokunzmann opened #24 "Create amd64 build"
As far as I can see, creating a meilix amd64 requires the following:

- [ ] add the file `image-amd64.tar.lzma`
- [ ] do not install i368 packages
- [ ] add amd64 variants of the i368 packages

[code]

Questions:

- [x] Is it possible to use the same image files for amd64 as for i368? Answer: Yes, it is. But EFI boot does not work.
- [x] Could we just copy the files for the amd64 image from the Ub

[2017-01-08 20:19] niccokunzmann commented on #24
I was able to build the amd64 version by removing the deb packages and using the same image-i368.tar.lzma.

[2017-01-08 20:48] niccokunzmann commented on #24
I am currently working on the [amd64 branch](https://github.com/CodersOS/meilix/tree/amd64) - there is a release.

[2017-01-08 21:01] niccokunzmann commented on #24
Current state: EFI does not work with the image files from i368.
Next step: copy from other ubuntu.

[2017-01-08 23:17] niccokunzmann commented on #24
Copying from ubuntu mate did not work. A `vmlinuz.efi` is required.
32bit boots with efi, 64bit does not.

[2017-01-09 12:07] Abhi2424shek commented on #21
Any views from anyone would be appreciated.

[2017-01-09 12:15] abishekvashok opened #25 "Metapackages needs to be rebuild for zesty update."
We are at zesty with trusty metapackages which are broken for the update by PR #41 which updated the base to zesty, we need to update the metapackages to move forward.

[2017-01-09 16:42] Abhi2424shek commented on #3
@mariobehling sir solves the first one via #26

[2017-01-11 13:11] Abhi2424shek commented on #21
@mariobehling should we do this?

[2017-01-12 03:02] mariobehling commented on #21
As the development of the system lock has been little recently, I think we need to focus on getting the development up and running before proceeding to more integrations. Therefore I am closing it for now. As we get up to more speed in development, let's get back to this. Thank you.

[2017-01-12 03:02] #21 closed

[2017-01-17 07:28] Abhi2424shek commented on #24
Want some help?

[2017-01-17 09:11] niccokunzmann commented on #24
Sure!

[2017-01-17 09:13] niccokunzmann commented on #24
@Abhi2424shek You are invited:
https://github.com/CodersOS/meilix/invitations

[2017-01-17 09:15] niccokunzmann commented on #24
I am looking forward to have just one Linux with a customized filesystem.squashfs. I have been trying this for two weeks and now I am really frustrated. Maybe you have some new methods and ideas on how to go about this.

[2017-01-17 10:42] Abhi2424shek commented on #24
Should we use UEFI? @niccokunzmann (GRUB)

[2017-01-18 09:40] niccokunzmann commented on #24
Please try if it seems like an option.

On 17.01.2017 11:42, Abishek V Ashok wrote:

[2017-01-18 11:36] Abhi2424shek commented on #24
It's convention is to use the bootloader to call the kernel file, grub would do the needy, but we would need to chroot somewhere and Ubuntu and most other distributions offer a live cd to do so.

[2017-01-19 07:22] Abhi2424shek opened #27 "The sources repository not well padded"
While testing on mobile i found that the sources repositor's home page which is made the official page of the meilix sources is not well padded. Assuming low priority for this one!

[2017-01-19 11:46] #27 closed

[2017-01-28 15:19] Abhi2424shek commented on #3
@mariobehling, when you are free pls explain which search engines needed to be defined.

[2017-02-12 14:46] Abhi2424shek commented on #25
@maeiobehling it would be awesome if you could give some info about he contributors of the metapackages, some of them doesnot have the changes file.

[2017-02-12 14:47] Abhi2424shek commented on #24
@niccokunzmann some updates?

[2017-02-12 14:48] Abhi2424shek commented on #1
Can we use the wiki pages on the repo?

[2017-02-12 14:49] abishekvashok opened #29 "Is codacy test required"
Codacy doesnot support bash and its doing nothing here, so can we commit it out? @mariobehling

[2017-02-12 14:50] Abhi2424shek commented on #3
Specific search engines are already defined :P

[2017-02-12 15:00] mariobehling commented on #3
We want loklak.net and susper.com definitely.

[2017-02-12 15:00] mariobehling commented on #29
Yes, thank you!

[2017-02-12 15:02] mariobehling commented on #1
Please add the info in the Readme.md. We will at one point create a dev page from the Readme files. As we progress we can also use the docs folder for more detailed info. For now the Readme.md is good. We want to avoid dependencies on additional repos and Github wikis.

[2017-02-12 17:38] niccokunzmann commented on #24
No.

On 12.02.2017 15:47, Abishek V Ashok wrote:

[2017-02-13 00:36] Abhi2424shek commented on #3
Ok i would define them :)

[2017-02-13 10:44] Abhi2424shek commented on #29
Yikes sorry I commited directly! Sorry.

[2017-02-13 13:57] Abhi2424shek opened #30 "Deployment not working"
Deployment on master branch is not working. Bad credentials are the cause of the error. Maybe something happened with the API key,
@mariobehling can you check the API key please?
Thank you.

[2017-02-27 04:16] Abhi2424shek commented on #25
Contacting @vanhonit

[2017-03-01 02:51] vanhonit commented on #25
@Abhi2424shek How can i help you?

[2017-03-01 03:45] Abhi2424shek commented on #25
@vanhonit OS has been updated to Yakkety but the metapackages have not been done so. I could update some of them which have .changes file but I can't help for those without them, can you help by updating them?

[2017-03-01 04:05] vanhonit commented on #25
Let me try. I am not sure because I did it 3 years ago.

[2017-03-01 04:30] Abhi2424shek commented on #25
Sure @vanhonit :)

[2017-03-09 18:46] meets2tarun commented on #3
In the second checkbox what does that metapackage will include?

[2017-03-10 09:58] Abhi2424shek commented on #3
@meets2tarun something you would think should be there in meilix

[2017-03-13 08:22] niccokunzmann commented on #30
@Abhi2424shek Please provide a source for your claim.

[2017-03-13 08:22] niccokunzmann commented on #30
Is it this? https://travis-ci.org/fossasia/meilix#L8814

[2017-03-13 08:25] niccokunzmann commented on #30
You updated the access token https://github.com/fossasia/meilix/blame/master/.travis.yml#L21
So something changed.
Without being complete, this could be the reasons:

- Your API key was revoked, check in the api key places
- Your rights in this repository are restricted. Can you still push and create a release?

[2017-03-13 08:31] Abhi2424shek commented on #30
Was it my token? I still have access to push and deploy, let me check if it is revoked.

[2017-03-13 10:28] #30 closed

[2017-03-14 16:55] meets2tarun opened #32 "Improving Documentation"
The readme.md of the repository needs improvement.

[2017-03-14 17:01] niccokunzmann commented on #32
Can you clarify what needs to be achieved to close this issue?

[2017-03-14 17:09] meets2tarun commented on #32
I am trying to build this and it includes most of the steps which are not included in the readme.md .
First of all, the step is to introduce to travis.
Then that generation of token and encryption of it with travis.
Editing of .travis.yaml.
Or you can help me with much better way.

[2017-03-15 12:12] Abhi2424shek commented on #32
To build it, you need to run build.sh and not Travis. @meets2tarun, you have to understand Travis is like a VM, a Continuous Integration(CI), which is used here for Continuous Delivery(CD). The token and other things are out of scope here.

We have an issue #1. Pls follow up there for additional documentation. That's the documentation you need.

[2017-03-15 12:12] #32 closed

[2017-04-16 15:09] meets2tarun opened #34 "Addition of new essential metapackages"
Adding of metapackages of a
File Manager (Nemo)
Gparted
Cheese (for webcam)
Trash
thunderbird
gnome-terminal
gnome-calculator

Please help if you want to cut some options or add more.

[2017-04-17 08:51] meets2tarun opened #37 "Skype not found"
Although skype metapackage is included in the root directory of meilix but it is not found while searching for skype in the OS.

[2017-04-20 09:11] #34 closed

[2017-04-20 09:12] Abhi2424shek opened #39 "Releases are not working"
Github releases are not working because the API token has been changed in a recent PR, we need to get it back.

[2017-04-20 09:13] Abhi2424shek commented on #39
That's the same reason for the Build failure also.

[2017-04-20 09:19] abishekvashok opened #40 "Travis CI is taking a long time to compile the code"
The average build time is around 27mins or so, it would have been better if we could investigate faster CIs and move the build function to there and keep the Content Delivery with Travis (metapackage pushing to gh-pages). What are your thoughts?

[2017-04-20 09:27] meets2tarun commented on #39
Build is successful, I think deployment failure is coming.

[2017-04-20 09:28] meets2tarun commented on #39
Should I make a P.R with the old secure key.

[2017-04-20 09:35] meets2tarun commented on #40
Yeah, it would be great to reduce the time. There are other CI in the market i.e; circleci, snap-ci, etc but travis is quite helpful and Github also recommends Travis. But if only time matterss, we can try a better one.

[2017-04-20 09:41] meets2tarun opened #41 "Metapackages/OS need to be build for Zesty Update"
The new update for 17.04 has been released in the market. I will make a P.R for its update for Zesty.

[2017-04-20 10:05] meets2tarun opened #42 "To edit Readme"
I will make a P.R which makes changes in the readme about the branch policy and Licence agreement .
Any more information you think which must be included?

[2017-04-20 10:15] niccokunzmann commented on #40
Is there a way to split the process: Separate meta packages from building the image?

[2017-04-20 10:27] Abhi2424shek commented on #40
Yea you are right @niccokunzmann, we are also putting them into our apt source repository (gh-pages acts as an apt source repository)

[2017-04-20 10:28] Abhi2424shek commented on #40
We can't separate the process as far as I can see.

[2017-04-20 10:29] Abhi2424shek commented on #39
Deployment fails the build, yes you can make a profit with the old token

[2017-04-20 10:30] Abhi2424shek commented on #42
We have #1 for it

[2017-04-20 10:31] meets2tarun commented on #39
But it may leads that my forked repository will stop to build successfully.

[2017-04-20 10:31] #42 closed

[2017-04-20 10:32] Abhi2424shek commented on #39
Please see my comment on your pr

[2017-04-20 10:35] meets2tarun commented on #39
The last [comment](https://github.com/fossasia/meilix/pull/35)

[2017-04-20 10:36] niccokunzmann commented on #40
@Abhi2424shek I see that [aptRepoUpdater.sh](https://github.com/fossasia/meilix/blob/master/scripts/aptRepoUpdater.sh) and [build.sh](https://github.com/fossasia/meilix/blob/master/build.sh) are two different scripts.

[2017-04-20 10:36] Abhi2424shek commented on #39
Yea

[2017-04-20 10:37] niccokunzmann commented on #40
But now to the analysis: which steps are taking which time and what is taking it so long?

[2017-04-20 10:38] Abhi2424shek commented on #40
Yep. But we can't split build.sh,h owever we can't be sure, I am investigating.... It would be best if you guys could also do the same :)

[2017-04-20 10:46] Abhi2424shek commented on #40
Distributed computing can be applied, but I don't think Travis is supports it.

[2017-04-23 02:22] #39 closed

[2017-04-24 16:09] #41 closed

[2017-04-24 16:10] Abhi2424shek commented on #25
It now needs to be rebuild for zesty as of the latest PR and issue #41.

[2017-04-24 16:34] meets2tarun opened #46 "Add topic below the description of project"
Please add the topics of the project below the description line.
Tags like: os, linux, lubuntu, zesty or anything else.

[2017-04-24 20:13] meets2tarun commented on #24
Does the work still going on?

[2017-04-25 05:43] Abhi2424shek commented on #24
Yep, I was experimenting yesterday, I think @niccokunzmann is also working a bit.

[2017-04-25 06:29] niccokunzmann commented on #24
I am not working on it.

On 24.04.17 22:13, Tarun Kumar wrote:

[2017-04-25 08:15] meets2tarun commented on #24
@niccokunzmann I saw commits in your forked repo of meilix. Make a pr.

On Tue 25 Apr, 2017, 11:59 AM Nicco Kunzmann, <notifications@github.com>
wrote:

[2017-04-25 08:16] niccokunzmann commented on #24
You can use them, it is GPL.
1. Add a my repos as a remote
2. pull from that branch

On 25.04.17 10:15, Tarun Kumar wrote:

[2017-04-25 08:19] meets2tarun commented on #24
Don't you make a pr of your work till yet ?

On Tue 25 Apr, 2017, 1:46 PM Nicco Kunzmann, <notifications@github.com>
wrote:

[2017-04-25 08:21] niccokunzmann commented on #24
I think, I could not get it to run. So, I abandoned the work.

On 25.04.17 10:19, Tarun Kumar wrote:

[2017-04-25 08:57] mariobehling opened #47 "Bringing Linux Customization to the End User"
Various flavors of linux exist. Ubuntu has a lot of derivatives for different use cases: education, office, low-memory, … . How can we allow the average users to customize their own linux distribution?

## The User Interface

A simple user interface can be a website as prototyped by codersos/create. The users can choose among different flavors of the UI, programs an packages. Next, they submit the

[2017-04-25 12:37] xeon-zolt commented on #47
@mariobehling  i was thinking why are we trying to build it on a server it costs a server plus time to build it then to host the built image
instead of that why don't we try improving the installation process like where the user can choose his flavour then apps like
* owncloud/nextcloud to share files and slides, authenticated
* onedrive, dropbox?
* libre office

maybe configuration too like turn

[2017-04-25 12:38] niccokunzmann commented on #47
@xeon-zolt Cool idea. Where did you get then imaged from?

[2017-04-25 12:41] xeon-zolt commented on #47
they are of antergos linux ! i was in touch with the developer when discussing about drivermanager GUI for antergos linux

[2017-04-25 12:49] mariobehling commented on #47
Downloading an image with tons of options could be huge. Better provide a web ui. Server cost is not really a concern these days. The goal of this project is not a general purpose distro. There are enough already.  We have specific use cases eg. Events. We want to solve what we need here.

[2017-04-25 14:23] meets2tarun commented on #47
Since the problem is related to the customization of Linux distribution by an average user. This means that one doesn't have to code all the things up for the building/customization of the OS.

Talking only about the minimal customization of the OS, there are so many web UI out there which help us to do so, but none of them is so that they will make the distro full-proof according to our desire 10

[2017-04-25 14:28] xeon-zolt commented on #47
@meets2tarun what idea ?

[2017-04-25 14:30] meets2tarun commented on #47
@xeon-zolt It has been already mentioned in the last 3 lines?

[2017-04-25 15:13] Abhi2424shek commented on #47
Ok,  this seems interesting, just like our build script we can get users to choose their flavours, logically it would be easy, we would need to provide a website with an active GUI, which generates the required distribution. IMO, we should start one by one interactively so that users with little knowledge could easily get through. Using a CI for building the image doesn't seem to be a nice idea wh

[2017-04-27 12:13] xeon-zolt commented on #47
@Abhi2424shek its a bad idea to store already generated distro as the number of combinations can be huge

[2017-04-27 14:47] Abhi2424shek commented on #47
Yea, I know that, it would be huge, but if we could provide it somehow it would enhance the user experience but I really don't want to do it, it's just a suggestion.

[2017-04-27 15:04] xeon-zolt commented on #47
I was thinking that to solve this we can have a login so and their people can manage their build and link it with their cloud storage like Dropbox or gdrive and we can save the configuration the user chose and upload the build to his cloud storage and if he want to apply changes in future he can manage that easily

[2017-04-27 15:16] Abhi2424shek commented on #47
Maybe we could let users do that, in addition if he really wants make the link live to others as well for the configuration he generated. Is it feasable? We would need to verify the sha sum integrity maybe every day or so.

[2017-04-27 16:01] Abhi2424shek commented on #46
Someone with admin access?

[2017-04-27 16:26] meets2tarun commented on #47
I think the best way is to customize the [CodersOS](https://github.com/CodersOS/create) to get the desired OS. We can add more configuration and personalization option as per our requirement. We can have all the made configuration to get saved automatically so if one needs the same OS, he/she don't have to build it again.

[2017-04-27 16:54] mariobehling commented on #46
Topics are not relevant for this project. We need code.

[2017-04-27 16:54] #46 closed

[2017-04-28 04:58] Abhi2424shek commented on #47
Can someone create the required repositories? It would be better to follow up here as we have a everyone up. Thoughts?

[2017-04-28 05:14] mariobehling commented on #47
There are different ideas in this discussion. I see things that could work, but some approaches are somehow complex and have a number of dependencies. Let's keep it rather simple for the beginning. If someone wants to start a more sophisticated approach, please start it in your repo and after some initial work we can later move it to the organization, if it is suitable.

So, before we ask contribu

[2017-04-28 06:51] Abhi2424shek commented on #47
We could base the scripts and metapackages on those which are used in meilix. For scripts we need to go with a flow, Ubuntu maybe?

[2017-04-28 07:09] meets2tarun commented on #47
It would be different in case of difference in the base of the distro. I
prefer a system which let us choose between different base like Ubuntu,
Debian, Fedora, Arch, etc as per our requirement.

On Fri 28 Apr, 2017, 12:21 PM Abishek V Ashok, <notifications@github.com>
wrote:

[2017-04-28 07:50] mariobehling commented on #47
For the beginning please use Debian and Ubuntu.

@meets2tarun Please avoid answers from email keeping the email conversation in the answer. Thanks.

[2017-04-29 13:24] xeon-zolt commented on #47
made a script to choose DE for building the ISO with base ARCH LINUX similar we can do with melix script
i will add arguments to this script later to be used as one line command

script --> https://github.com/xeon-zolt/Event-linux/blob/custom-build/buildAVA
repo to use script with --> https://github.com/xeon-zolt/Event-linux/tree/custom-build

[2017-04-29 13:44] mariobehling commented on #47
@xeon-zolt Nice.

Though not so relevant for this project. Linux projects often have some differences in the detail and I don't see how we could support many different Linux distros and desktop environments. Focus for now is Debian and Ubuntu and LXQT. LXQT is not covered by many distros. Cheers. I am closing this discussion now. Great input everyone!

[2017-04-29 13:44] #47 closed

[2017-04-29 14:26] meets2tarun commented on #47
I want if the issue has been closed, something should get started.
As @mariobehling Sir said to start with the small one.
I am thinking to club everyone ideas related to this project which is beneficial to us.
Thinking of to start with a webapp design for the one to have options of customization proceed by personalization. Selection of distro base between Ubuntu, Debian, meilix. If ubuntu base is

[2017-04-29 14:36] mariobehling commented on #47
Not sure, what you mean. Creating the meta-packages is part of this project. We will not be using the meta-packages that exist in Ubuntu.

[2017-04-29 14:40] mariobehling opened #48 "Investigate Meta-Packages in Meilix and propose ways for configuration"
There are metapackages in meilix. These meta-packages can help to define details of a distro including which packages are included, start page and search engines of browsers etc.

Please check out the existing meta-packages and update them. Find out what needs to be changed in order to change browser search engines etc. and update your findings in the Readme.md

Next steps would be to make a list

[2017-04-29 14:40] mariobehling commented on #47
Please investigate and learn more about meta-packages https://github.com/fossasia/meilix/issues/48

[2017-05-01 14:13] meets2tarun opened #50 "Building of auto-generated webapp from readme"
The task is to auto-building of the webapp from the readme.
LIke [this](http://dev.loklak.org/server/)

[2017-05-01 15:49] Abhi2424shek commented on #50
Should we need this now, i think we should do this later.

[2017-05-01 16:34] meets2tarun commented on #50
The readme of meilix can be very large to make one understand it quite easily and to present it in a better way, I prefer this. Not today, but tomorrow we will feel its need, so why not do it today ?

[2017-05-02 13:33] meets2tarun opened #51 "Update the sources.list in chroot directory"
Chroot folder contains sources.list file which needs to be updated to zesty.
The user that locks a file or directory is the only one that can edit and push their changes back to the repository where the locked objects are located.

[2017-05-02 17:19] meets2tarun commented on #24
@niccokunzmann  please make a pull request of your work till yet, then we will see that how we can improve it.

[2017-05-03 05:52] Abhi2424shek commented on #50
This is useful only by the time we split docs.

[2017-05-03 06:27] abishekvashok opened #53 "Build failing because my access token has no rights"
Seems like my access from the repo has vanished somehow and I can't write to it, as a coincidence the build is also failing because my personal token was used for pushing out releases.

_NB: I also lost access from some other repos where I could merge PRs also, and I think i haven't done anything with my acc or experimented anything in the near past, so I am confused of how my accesses have been l

[2017-05-03 10:53] meets2tarun commented on #50
Yeah, docs can be split by splitting content of
- building/compiling of the distro
- customizing the distro
- customizing the metapackage
- building the metapackage
- adding the metapackage, etc

[2017-05-04 05:08] Abhi2424shek commented on #50
IMO, the docs are not that much long as compared to other projects like the susi server. Should we do this now @mariobehling?

[2017-05-05 12:10] niccokunzmann commented on #53
I was added today to the meilix group of fossasia. I think, the administrators changed who has access. I have write access. I believe, this will change again. It expect that you can be added again in the near future.
I do not know who revoked access. You could have a look at the teams to see who has rights for the repository https://github.com/orgs/fossasia/teams

[2017-05-05 14:02] Abhi2424shek commented on #53
@niccokunzmann oh, seems i am out, no worries :) please generate a access token and add it to the repository since you got push access.

[2017-05-06 11:25] meets2tarun commented on #53
Shall we rectify this deploying error soon?

[2017-05-06 11:26] meets2tarun commented on #50
I think we should drop this idea for now?

[2017-05-06 11:26] #50 closed

[2017-05-06 12:13] meets2tarun opened #55 "Issue and PR format"
A format for proper issue creation and making a pr.

[2017-05-06 17:52] #55 closed

[2017-05-08 05:08] xeon-zolt opened #59 "Create separate Repo for Apps"
We can make a separate repo for apps and use it as a sub module so that managing and updating apps and managing build script can be simple

[2017-05-08 05:16] Abhi2424shek commented on #59
To build things we would need metapackages, separating metapackages would add an additional task of downloading them while executing the build script. This will increase the build time, especially the CI test times as most CIs have low download speeds.

[2017-05-08 06:10] Abhi2424shek commented on #3
Can we have a material design wallpaper?

[2017-05-08 06:27] meets2tarun commented on #3
Sure

[2017-05-08 07:46] xeon-zolt commented on #3
what do you think
@Abhi2424shek

![wallpaper](https://cloud.githubusercontent.com/assets/4529442/25794860/5b3f2650-33f0-11e7-964c-c7a9154aee83.png)
![wallpaper2](https://cloud.githubusercontent.com/assets/4529442/25794859/5b3a05b2-33f0-11e7-9fc2-25dd31e3532d.png)

[2017-05-09 13:58] Abhi2424shek commented on #53
@niccokunzmann or @mariobehling will someone of you handle over your access tokens or add it yourself so that the build will not fail and will pass giving us regular releases to test. Another maybe unsuitable option would be to give me push access. Please do any of the mentioned ones.

Thankyou.

[2017-05-13 08:46] niccokunzmann commented on #53
I do not know if this is the token as 404 is the error code. https://travis-ci.org/fossasia/meilix/builds/229473165#L8628

[2017-05-13 08:46] niccokunzmann commented on #53
@meets2tarun Do you have push access now? If yes, you can provide your token.

[2017-05-13 08:48] meets2tarun commented on #53
No, I don't have push and merge access.

[2017-05-14 08:11] Abhi2424shek commented on #48
Here's a list of all metapackages used in meilix along with their contents or uses.

| Metapackages Name | Contents or uses | inclusion |
| ubuntu-standard | standard utilities for Ubuntu system | X |
| casper | A hook for intrafms-tools to boot live systems | X |
| lupin-casper | Adds support for loop mount installations over casper | X |
| laptop-detect | used to detect laptops | X |
| os-prober

[2017-05-14 09:44] meets2tarun commented on #48
@Abhi2424shek These are the meta-packages for the meilix. We can apply your idea to replace the unrequired meta package with the required one respectively for event and hotel-os.
But in my opinion, it is not favorable to alter with meilix source rather than we can use it to derive the event and hotel-os with the above idea and the idea presented by @niccokunzmann Sir in the fossasia/meilix channel

[2017-05-14 09:45] meets2tarun commented on #59
@Abhi2424shek Is this issue still needs to be opened?

[2017-05-14 09:46] Abhi2424shek commented on #48
@meets2tarun I saw that, but instead of creating 2 scripts we could use a single script for it.

[2017-05-14 09:47] meets2tarun commented on #48
@Abhi2424shek  A single script both for event and hotel. Did you mean that? Please clarify.

[2017-05-14 09:53] Abhi2424shek commented on #48
Yea @meets2tarun, I meant a single script, you could pass an extra parameter to the build script and tell it which is to build, currently we could define the architecture, 32 bit od 62 bit etc by passing an argument(see the first few lines). Likewise we could pass a parameter, then depending on it we could have if conditions in the script. I think since we keep the base same for both the OSs what

[2017-05-14 10:02] meets2tarun commented on #48
@Abhi2424shek What are the conditions which are going to be in the if/else statement which defines the architecture?
And nothing other than altering with these lines, the whole script of build.sh will be same irrespective of the OS. Right?

[2017-05-14 10:05] Abhi2424shek commented on #48
Yes. As we are applying settings we might have two different sets of settings for default settings for different distro, and metapackages in the if else if, blocks. :)

[2017-05-14 10:22] #59 closed

[2017-05-22 15:30] meets2tarun opened #60 ".json or config file for firefox"
Similar to chromium, where is the .config or .json file for the firefox browser to edit the preference of the browser?
Is there any way for the configuration?
@Abhi2424shek @xeon-zolt

[2017-05-22 19:02] niccokunzmann commented on #60
https://github.com/CoderDojoPotsdam/software/blob/master/linux-update/set_startup_homepage.sh / this is how I set the startup homepage.

[2017-05-29 11:00] meets2tarun commented on #60
@niccokunzmann  In Firefox, you can only configure that homepage.
And had you done this config in the prefs.js file?

[2017-06-01 09:19] abishekvashok commented on #60
@meets2tarun i guess that's the only way.

[2017-06-02 16:54] abishekvashok commented on #53
@niccokunzmann pls provide a token

[2017-06-02 17:03] meets2tarun commented on #53
@abishekvashok I can also provide; if everyone agrees.

[2017-06-03 04:05] abishekvashok commented on #53
@meets2tarun do you have push access? If so pls do so.

[2017-06-03 04:18] meets2tarun commented on #53
@abishekvashok  Sorry, I don't have.
But my forked repo is building successfully, so if I get the access, then can use my token.

[2017-06-08 18:10] meets2tarun commented on #53
My token is working in meets2tarun/meilix and I can provide also my token.
Should I go for it?

[2017-06-09 05:34] abishekvashok commented on #53
If you have push access

[2017-06-10 04:31] niccokunzmann commented on #53
#61 fixes this

[2017-06-10 06:16] abishekvashok commented on #53
Still failing @niccokunzmann

[2017-06-10 07:50] meets2tarun commented on #53
@abishekvashok @niccokunzmann

[2017-06-11 04:49] abishekvashok commented on #53
That's a permission error.

[2017-06-11 05:16] meets2tarun commented on #53
I even have the push access to the repo and even use it in setting to define the environment variable in Travis, then why it is showing such error?

[2017-06-11 05:29] niccokunzmann commented on #53
I think, a travis encrypt only works for one repository.
If the token works for your repository, it may not work for fossasia.

[2017-06-11 05:33] meets2tarun commented on #53
Should I use a different token from my GitHub personal access token?
that may work.

[2017-06-11 05:36] niccokunzmann commented on #53
You can use the same token but you must encrypt it again for meilix.
The same token will have a different "secure: ..." string

On 6/11/17 7:33 AM, Tarun Kumar wrote:

[2017-06-11 05:42] abishekvashok commented on #53
Yes.

No need, but you should encrypt it again when you are on this repo or you should specify the repo name explicitly as an argument.

[2017-06-11 10:06] meets2tarun commented on #53
Thank you, everyone
I encrypt the same key for fossasaia/meilix repo.
https://github.com/fossasia/meilix/commit/3be7bad4528a40625fea75cceb742eaa4948105e
Closing now, issues resolved.

[2017-06-11 10:06] #53 closed

[2017-06-12 12:36] niccokunzmann opened #62 "Process to get configuration"
The webapp should configure the meilix build.

When Travis builds, the environment is [configured](https://github.com/fossasia/meilix-generator/pull/18/files#diff-8e6afdf322bc86524af61ffc82e64ca3R13).
This environment can contain a variable, e.g. `CONFIGURATION_SCRIPT_URL`.
This url should point to a script which can be downloaded, e.g.
`CONFIGURATION_SCRIPT_URL=https://meilix-generator-test.herok

[2017-06-14 17:29] meets2tarun opened #63 "To make a new branch"
We are using Travis to trigger the build of meilix but now in a forked repo [here](https://github.com/fossasia/meilix-generator/blob/master/travis_tokens) since we made required changes in our master branch.
The idea is to make a new branch as `generator` which will contain the required changes.
@mariobehling @niccokunzmann  Help us in this matter.

[2017-06-16 07:30] niccokunzmann commented on #63
https://github.com/fossasia/meilix/tree/generator The branch is created.

[2017-06-18 03:04] meets2tarun commented on #62
What I understand is:
There is an environment variable `CONFIGURATION_SCRIPT_URL` in a script named `TAG_NAME.sh`.
The Travis build tries to find the variable and if found it downloads the `TAG_NAME.sh` and run it.
`TAG_NAME.sh` contains configuration which is applied overriding any other configuration.

Please correct me if I'm wrong.

[2017-06-18 14:22] niccokunzmann commented on #62
Your formulation is compatible with mine. So, yes, I think, you understand.

[2017-06-20 19:12] meets2tarun commented on #62
I have a thought:
Suppose we have to make changes in the configuration of meilix, then we will edit the conf file or json file or the .skel one depending upon the respective changes.
Now the idea is that we will make changes in the required file but not by editing it directly but editing the same using webapp through Heroku then download the script (as suggested by @xeon-zolt ) as same as we are d

[2017-06-20 19:27] xeon-zolt commented on #63
closing the issue as the branch is created

[2017-06-20 19:27] #63 closed

[2017-06-20 19:35] xeon-zolt opened #64 "Adding Lxqt to the generator branch of meilix"
- Issue type: Feature

### Short description

lxqt is a desktop environment and we need to use it for next part

### Usecase

it is a lightweight DE so it can run on low spec PC too plus after adding this we should be working on configuring it for presentations

[2017-06-20 19:55] meets2tarun commented on #64
Successfully tested the changes of implementation of LXQT in local and on Travis by altering the build.sh
[here](https://travis-ci.org/meets2tarun/meilix/builds/245057058?utm_source=github_status&utm_medium=notification)
It's not deployed due to tag issue but the matter of the fact is that it build successfully.
Now I'll check other files responsible for the desktop then will make a PR.

[2017-06-20 19:57] niccokunzmann commented on #64
fossasia/meilix-generator#22 - related

    fossasia/meilix-generator#22

[2017-06-20 20:03] xeon-zolt commented on #64
@meets2tarun attempted booting it ? did it boot with lxqt as DE?

[2017-06-23 10:58] meets2tarun opened #67 "Required configuration to achieve in master branch"
This is the copycat of https://github.com/fossasia/labs.fossasia.org/issues/135#issue-153050384
We created this so we can checkmark the boxes.
- [x] Use LXQt
- [ ] Switch off notification
- [ ] Switch off screensaver and sleep modes
- [ ] Switch off system sounds
- [x] Disable bookmarks in browser
- [ ] Install ownCloud and Dropbox
- [ ] Pre-set start system without password
- [ ] Install Gtalk/Ha

[2017-06-23 15:34] meets2tarun commented on #60
@niccokunzmann
How can I use this file to config my firefox?

[2017-06-23 15:38] niccokunzmann commented on #60
It is a shell script which can be executed.

You can read more about it here: http://askubuntu.com/questions/73474/how-to-install-firefox-addon-from-command-line-in-scripts

[2017-06-23 16:10] meets2tarun commented on #60
And what to do if I want to do other configs too?

[2017-06-23 17:06] niccokunzmann commented on #60
I do not instruct you to do anything. I do not want you to do anything in a special way. I just wanted to give you a starting point or a hint on where to look. Please find it out yourself. If you have a question on how to do something, please provide the context of your research, what you tried and what did not work out. If you do that, your question might also be answered on stackoverflow/stackex

[2017-06-23 17:32] meets2tarun commented on #60
Sure, the thing I left with is and my question was something as but I hadn't elaborated that much:
`user_pref("browser.startup.homepage", "https://google.com");`
this is the function one can put in prefs.js to get the required homepage in Firefox, I was asking that this is a defined function and there must be other functions too for the rest of the configuration, which one can use to come with the

[2017-06-24 04:03] meets2tarun opened #69 "Remove unnecessary metapackage from meilix/generator"
- Issue type: Feature request

### Short Description
Since the generator branch is the master one, so it contains all the packages and most of them are not required.

### Expected behavior
The idea is to remove them.

### Actual behavior
We can even remove each unnecessary metapackage but the fear is that it may disturb the MD5 configs, so I thought to remove the installation line of metapackage f

[2017-06-24 15:13] abishekvashok commented on #40
Here are some findings: @niccokunzmann @meets2tarun @xeon-zolt

- Seems like Travis has better download speeds when caches are in the S3 bucket in the us-east region.
- The apt updater script can be made to run parallel.
- Travis does things faster if we put things we need in the .travis.yml file [Don't change build.sh as if we run apt-get install again from there since, packages are present apt w

[2017-06-24 18:13] meets2tarun commented on #40
@abishekvashok
Thanks, you remind me again to look at the parallel build and thanks for the finding too.
I'm referring you and [this](https://docs.travis-ci.com/user/speeding-up-the-build/).

[2017-06-25 03:19] meets2tarun commented on #40
@abishekvashok I parallel the build but it still takes the same time?
https://travis-ci.org/fossasia/meilix/builds/246607082

[2017-06-25 11:01] abishekvashok commented on #40
It would make a small difference as the script won't take much time. But each second is valuable right?

[2017-07-02 15:29] meets2tarun opened #71 "Undesired output while running meilix iso"
Although meilix master branch is based on lxde but when I implemented the change in build.sh script to remove all the packages of lxde and included the packages of lxqt. But after booting the iso, it shows no change at all, even the desktop environment is shown to be of gnome.

[2017-07-02 15:36] meets2tarun commented on #71
This is the place where I'm working https://github.com/meets2tarun/meilix/commits/history
This is the git diff of the changes I made
[diff.txt](https://github.com/fossasia/meilix/files/1117885/diff.txt)

[2017-07-03 11:33] meets2tarun commented on #25
@abishekvashok I need your help that how to rebuild the meta packages for the changes that we made?

[2017-07-03 15:26] abishekvashok commented on #25
We need a .changes file to update them. It's the same tool that is used to update as is used to build them

[2017-07-03 15:36] meets2tarun commented on #25
.change file contain checksums , how can one alter that?
Would you please illustrate the way to update and build? Any link will be greatly helpful.

[2017-07-04 14:50] abishekvashok commented on #25
This should come handy: https://blends.debian.org/blends/apb.html

They are gpg keys and are autogenerated.

[2017-07-04 16:33] meets2tarun commented on #25
Thanks but it doesn't contain anything such as rebuilding of the metapackages.
P.S. I went through all the related pages of the link.

[2017-07-05 11:54] abishekvashok commented on #25
Extracting the metapackage using any tool like the one mentioned in the link or equvis and building it again.

[2017-07-07 13:51] mariobehling commented on #71
@meets2tarun What are your actions to solve this issue? Please involve your co-developer and work as a team!

[2017-07-07 14:37] abishekvashok commented on #71
I can't see where you did an update inside the chroot env. Keep in mind that, the things done inside he chroot env will only be present in the distro. Installing packages with apt get outside the chroot env, will cause the packages to be installed on the build system that is now Travis ci.

[2017-07-07 14:38] abishekvashok commented on #71
Referencing #64

[2017-07-08 22:54] xeon-zolt opened #74 "Shorten the Build time for meilix generator by using mkiso"
### Short description

by using mksio and squash tools instead of rebuilding whole iso which takes time we can create changes in iso and repack it

[2017-07-10 05:11] meets2tarun commented on #71
The work done by me to show the changes are:

I first made required changes in the chromium-browser chrome.json file and then rename the folder chromium-browser to chromium.
Then delete the meilix-default-settings folder under the meilix-default-settings/debian and delete the all the metapackages files with meilix-default-settings_* under meilix repository.
I edited the changelog file under meilix

[2017-07-10 07:20] medicalwei commented on #71
The issue is that `build.sh` references the different version of the package `meilix-default-settings`.

`build.sh` references 1.0 while the debian packaging information (debian/changelog) uses 1.0-1

[2017-07-10 20:12] xeon-zolt commented on #74
@meets2tarun  can you please check why I am having Travis error in my pull request but it is not showing error here https://travis-ci.org/xeon-zolt/meilix

[2017-07-11 04:33] meets2tarun opened #76 "Repository Clean Up"
The generator branch is made for the webapp basically. So we need to clean up the branch to make it suitable for customization.
The cleanup include: meilix-default-settings/debian/changelog should be edited to version 1.0

[2017-07-12 18:57] meets2tarun opened #79 "Zesty version doesn't boot directly into GUI"
There is an issue with the zesty that it doesn't boot directly into the GUI rather it boots into CLI.
And since meilix is going to use for the event like purpose, I think it's better to rely on LTS version and roll-back to xenial (16.04).
@mariobehling @niccokunzmann @abishekvashok @xeon-zolt

[2017-07-12 19:11] meets2tarun commented on #79
If we get back to xenial, then there would be nay further issue, and we'll start to work on the LXQt community version of meilix. But if we care about zesty, then that can cause problems with the dependencies and many other issues also and Awk has also been released.

[2017-07-13 02:43] meets2tarun opened #80 "Branch Policy inclusion in Readme and for the contribution page"
This issue will focus on making the concept clear of the different branches in meilix i.e, master and generator.
master:  all the development goes into the master branch
generator: this is the branch which is used by meilix-generator for generating the iso and hence the requirement changes will be made here.

[2017-07-13 13:04] abishekvashok commented on #74
Remember that will make work to clone the repository awfully, as git doesnot have diff support for .iso files. Its not a good idea to store the .iso.

[2017-07-13 13:06] abishekvashok commented on #74
And if you download the iso in Travis, it will be really slow as you as Travis has a slow download speed.

[2017-07-13 13:08] abishekvashok commented on #40
Its not yet solved. The sources are still fetched from build.sh please be careful.

[2017-07-13 13:11] meets2tarun commented on #40
Please elaborate

[2017-07-13 13:58] xeon-zolt commented on #74
@abishekvashok faster than  building from sources 8 minutes compared to 20

[2017-07-13 15:44] tabesin commented on #79
Xenial does not support lxqt out of the box, zesty will

[2017-07-13 15:51] tabesin commented on #79
Maybe tarun, just take 3 days, install zesty on a virtualbox and build lxqt packages from source. If you can get it run on a local virtual machine,  your packages will work in meilix, too.

[2017-07-13 15:52] tabesin commented on #79
All ubuntu flavours come as desktop and headless. As we take lxqt it does not matter.

[2017-07-13 16:59] meets2tarun commented on #79
No, I have tried LXQt on xenial also. And I think there are lots of advantages to going for LTS version.

[2017-07-13 17:36] meets2tarun commented on #79
@mariobehling Please clear the issue here as it is delaying the speed of the progress of the project.

[2017-07-14 10:06] tabesin commented on #79
1. Have you got LXQT run on a local install, whatever the base? Have you made custom packages?

2. For a decision you have to specify which "advantages" or "blockers". Otherwise the change request is not useful.

3. An underspecified decision on 2 should not block activities. E.g. on item 1.

[2017-07-14 11:09] meets2tarun commented on #79
Yes, on xenial Ubuntu in VM.

The advantages for going to xenial are:
This is an LTS which almost support all the packages.
Metapackages are already build for the xenial but it hasn't been build for yak nor for zesty.
Now if you think we can update meilix to awk but it really doesn't mean anything unless until some benefits come out of it. We love updates but the stable one. It, not that update nu

[2017-07-14 11:42] meets2tarun opened #81 "Blending of meilix with SUSI.Al"
@mariobehling, we went through your feedback and now in need of your help to understand the terms to start working on this.

[2017-07-14 11:43] meets2tarun commented on #67
@mariobehling, we went through your feedback and have confusion to understand referral service terms. What does this imply and what do you mean by this?

[2017-07-14 13:35] tabesin commented on #79
a) Ok. You have LXQT run on Xenial. Which git checkout? Have you build Xenial packages for LXQt?
What were your steps. feel free to document your steps in a text file in GIT

b) LTS / "almost all packages" seems irrelevant in this generic notion. LTS are not stable but long term support.

Have you tried the same using zesty?

[2017-07-14 14:06] meets2tarun commented on #79
When an update in the source has been done then one of the processes for a successful update is: rebuilding every metapackages for the update.
Since @vanhonit can help us to update the metapackages that don't have .change file or the one which has .change file @abishekvashok that I don't know how to do it?
https://github.com/fossasia/meilix/issues/25

[2017-07-14 14:43] abishekvashok commented on #40
As i stated:

 include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - packagename-version

[2017-07-14 14:44] abishekvashok commented on #74
@xeon-zolt if so, Travis has better download speeds when caches are in the S3 bucket in the us-east region.

[2017-07-14 21:25] #80 closed

[2017-07-14 21:25] meets2tarun commented on #80
https://github.com/fossasia/meilix/commit/35b9c28273174e8af92b744dda720c0497374dae

[2017-07-15 13:07] xeon-zolt commented on #81
Meilix for pi that means we need to compile it for arm based architecture
so if we have to do it for pi we need a issue to make build scripts for armv7 too

[2017-07-16 02:44] meets2tarun commented on #79
And https://github.com/fossasia/meilix/blob/untagged-c9f68d2fa6b3d1cdbd99/build.sh#L140
is also there which is responsible for the GUI but still, it loads into CLI.

[2017-07-16 07:09] mariobehling commented on #67
For example Ubuntu uses Amazon referrals if someone searches through Ubuntu on Amazon. The WebUI of the generator should give options for users to add their own referral IDs.

[2017-07-16 12:14] tabesin commented on #79
Your metapackage files do not include GUI components, so it does not get installed.

You also have to add the repositories to Julian's scripts from which to fetch the GUI packages.

[2017-07-18 12:00] meets2tarun opened #87 "Inclusion of required metapackages"
https://github.com/fossasia/meilix/pull/84
This PR actually removes few lines from the build.sh which install metapackages.
The task is to include those lines and tests the iso for the metapackages.

[2017-07-18 12:11] meets2tarun opened #88 "Configuration needed in the LXQt version"
Here is the list of the configuration that we have to shortlist to need in the LXQt version of meilix
https://github.com/fossasia/meilix/issues/67

[2017-07-18 12:19] meets2tarun commented on #79
https://github.com/fossasia/meilix/pull/84
Solves this

[2017-07-18 12:19] #79 closed

[2017-07-18 12:21] meets2tarun commented on #74
#75 solves this? @xeon-zolt
Please paste a screenshot or link to Travis building in support before closing this.

[2017-07-18 12:22] meets2tarun commented on #71
#84 is the solution to most of the issues.
Thanks @medicalwei

[2017-07-18 12:22] #71 closed

[2017-07-18 12:24] meets2tarun commented on #64
#84 LXQt can be found in master now.
Does the changes can be seen in generator branch too?
@xeon-zolt

[2017-07-18 15:42] xeon-zolt commented on #64
we are using mkiso for generator branch now so @meets2tarun we need to update  the link of LXQT ISO generated by master and we should also clean the generator branch as it only use single script

[2017-07-18 15:45] xeon-zolt commented on #74
https://travis-ci.org/fossasia/meilix/builds/254818077

[2017-07-18 15:45] #74 closed

[2017-07-18 17:40] xeon-zolt commented on #76
now it is mainly mkiso script so it's better to clean everything from generator branch to save time wasted in cloning it in travis

[2017-07-19 04:45] meets2tarun opened #90 "Email notification"
We achieved to get the user the email but it doesn't contain the link. Need to be solved
![photo_2017-07-18_10-21-11](https://user-images.githubusercontent.com/15213246/28351057-0e24c9d4-6c6b-11e7-8e27-39db8dfc776c.jpg)

[2017-07-20 05:06] xeon-zolt commented on #90
Fixed but deployment error is still there

[2017-07-21 03:17] xeon-zolt commented on #81
@meets2tarun can you test this code on meilix ISO
[code]

[2017-07-21 13:01] meets2tarun commented on #81
![screenshot_lasst_2017-07-21_18 30 22](https://user-images.githubusercontent.com/15213246/28464422-c04b85d4-6e42-11e7-833d-b1f17097dd1f.png)

[2017-07-21 14:10] meets2tarun opened #95 "Include script for updating meilix-default-settings"
If we made any changes in meilix-default-settings metapackages, it need to rebuild to get the packages working.

[2017-07-21 14:11] meets2tarun opened #96 "Set application as default"
Few applications need to get default as
- [ ] vlc as default player
- [ ] chromium as default browser

[2017-07-21 14:32] abishekvashok commented on #96
Why don't we ask the user?

[2017-07-21 14:57] meets2tarun commented on #96
https://github.com/fossasia/meilix/issues/67

[2017-07-21 17:13] xeon-zolt commented on #81
rerun the script after installing `swig`
`sudo apt install swig`

[2017-07-21 18:32] meets2tarun opened #98 "Generator branch iso gets drafted sometime"
Sometime iso released by generator branch of meilix get drafted rather than getting into release.
And email doesn't send to the user unless until there is a deployment of iso.
https://github.com/fossasia/meilix/pull/94

[2017-07-21 20:14] meets2tarun commented on #81
We need two more packages
`libpulse-dev` and `swig`

[2017-07-21 21:39] meets2tarun opened #100 "Firefox permission problem due to conflicting package"
Firefox is not starting up due to conflicting package in meilix-default-setting
![screenshot_firefox_2017-07-22_03 08 49](https://user-images.githubusercontent.com/15213246/28483493-2d439f30-6e8b-11e7-8e46-de245bb85f0b.png)

[2017-07-21 21:43] meets2tarun opened #101 "Icons are not showing"
No icons are showing up in meilix iso neither in files nor in folders

[2017-07-21 21:45] xeon-zolt commented on #101
pcmanfm too

[2017-07-21 21:50] meets2tarun opened #102 "Testing of firefox config file"
Although pref.js in Firefox is supplying the homepage URL but the firefox is not setting it up, and few lines of override were also there.

[2017-07-21 21:51] meets2tarun commented on #101
Can we try nemo ?

[2017-07-21 21:55] xeon-zolt commented on #101
https://wiki.archlinux.org/index.php/PCManFM#No_icons
we can try this

[2017-07-23 03:05] #90 closed

[2017-07-23 03:10] meets2tarun opened #104 "Missing hotelos folder"
Hostname, as well as the username of the meilix, is hotelos.
`hotelos@hoteslos:~$` proves the above.
But the issue is that we didn't get hotelos folder inside the home folder while `unsquash` it using `sudo unsquashfs -n mnt/casper/filesystem.squashfs`

[2017-07-23 08:25] meets2tarun opened #106 "Branch: niccokunzmann-patch-1"
We have a branch with `niccokunzmann-patch-1`
which is explaining this commit:
https://github.com/fossasia/meilix/commit/f9f7f693aa8d1975c7758a31d11ebfb3a5b45c85

Now, do we really need this?
@xeon-zolt @niccokunzmann

[2017-07-24 16:54] xeon-zolt commented on #106
Deleted

[2017-07-24 16:54] #106 closed

[2017-07-25 11:02] tabesin opened #111 "UX - review default file mapping to apps"
- Issue type: Feature request

### Short description

The meta package should verify that Meilix gets file associations (mimetypes mapping) right, e.g. that a clicked file is opened by the right software. Usually you have a defaults.list on your system, the directory depends on the Desktop Environment, with the ability of overwrite in your user directory. Thus the package should provide for an ove

[2017-07-25 12:23] xeon-zolt commented on #111
yes like currently no editor is present in the system so libre writer is used by default

[2017-07-26 22:24] tabesin commented on #101
In terms of process, it is easier to process when to have single issue tickets like "install oxygen icons". "install dropbox" "install vlc" and so forth. Instead of additional tasklists you simply convert the tasklist items into issues that are small enough to be solved in a single day or less.

[2017-07-26 22:30] tabesin commented on #88
What is the difference of 92 and 109?

[2017-07-26 22:43] tabesin commented on #100
Why does firefox get installed after customized settings from meilix-default-settings?

[2017-07-27 03:33] meets2tarun commented on #88
92 and 109 both does the same job, but the issue between them was that 92 was not updated with the upstream master and it contains old commits, basically, it's not a good practice of a PR.

[2017-07-27 03:35] meets2tarun commented on #100
Firefox is included in the metapackage, it is independent of the settings in the meilix-default-settings.

[2017-07-27 09:04] tabesin commented on #100
Why is Firefox then installed after the meilix-default-settings package?

[2017-07-27 11:00] tabesin commented on #104
" we didn't get hotelos folder inside the home folder "

Please explain what you mean. It is very difficult to grasp from the description.

unsquashfs is readonly.

[2017-07-27 11:30] meets2tarun commented on #100
Starting to illustrate our process from the very beginning:
First of all, we tried to run the Firefox through the panel options, which doesn't show any message at all.
Second, we tried to open it through the terminal which shows that `permission denied`.
Then we remove the firefox and install it again and now you can follow the screenshot.

[2017-07-27 11:33] meets2tarun commented on #104
Issue is:
By using command `unsquashfs -n mnt/casper/filesystem.squashfs`, we unsquash the file system and will try to make changes inside it (we get distro file system inside) then repack it into the iso. It's like customizing the iso.
But the issue is that the file system doesn't contain the hotelos (user folder) inside its home folder.

[2017-07-27 13:28] xeon-zolt commented on #104
we are going to edit inirtd file for that as the liveuser is created during
boot

On Thu, Jul 27, 2017 at 5:03 PM, Tarun Kumar <notifications@github.com>
wrote:

[2017-07-27 14:45] abishekvashok commented on #100
@meets2tarun remove that package off from meilix-default-settings and repack the metapackage.

[2017-07-27 15:06] tabesin commented on #104
Apparently the user does not exist yet. So why don't you take /etc/skel/ for all of this? http://www.linfo.org/etc_skel.html

[2017-07-27 15:43] abishekvashok opened #114 "Update the branch policy"
- Issue type: Bug report

### Short description

Since we got the generator branch why not explain it's purpose in the readme?

[2017-07-27 15:47] tabesin commented on #76
With #89 merged could that ticket be closed?

[2017-07-27 16:19] tabesin commented on #37
https://www.skype.com/en/download-skype/skype-for-linux/downloading/?type=weblinux-deb

Package was deleted by Canonical from Zesty / canonical partners repo.

[2017-07-27 17:33] tabesin commented on #114
Not a bug.

Maybe combine that task with a blog post.

[2017-07-27 17:38] tabesin commented on #60
Could this ticket be set closed?

[2017-07-27 17:39] tabesin commented on #51
guess this has been fixed and could  be closed now.

[2017-07-27 19:45] #76 closed

[2017-07-27 20:18] tabesin commented on #102
Please review PR #99

[2017-07-27 20:30] tabesin commented on #88
Is this a meta ticket?

[2017-07-27 20:45] tabesin commented on #96
What does /usr/bin/x-www-browser point to?

Please post:
readlink -f  /usr/bin/x-www-browser
and
readlink  /usr/bin/x-www-browser

Usually buntu users configure it via:
sudo update-alternatives --config x-www-browser

[2017-07-27 21:16] tabesin commented on #96
On making VLC default what does
cat /usr/share/applications/defaults.list | grep video
output?

[2017-07-28 00:30] tabesin commented on #96
For setting:
xdg-mime default application mimetype(s)
For querying:
xdg-mime query default mimetype(s)

[2017-07-28 11:25] meets2tarun commented on #104
@tabesin we are working on the very same strategy.

[2017-07-28 13:18] meets2tarun commented on #51
No, this is not fixed yet.

[2017-07-28 13:19] #60 closed

[2017-07-28 13:23] meets2tarun commented on #114
Sure we will soon give a PR in the documenation

[2017-07-29 12:25] tabesin opened #116 "Debrand startup screen"
- Issue type: Feature request

### Short description

Technically Meilix is a Ubuntu derivate. When you boot up Meilix it says Ubuntu 17.04 in the load screen. You can disable that startup screen or debrand it or replace it by sth else as it confuses our users.

### Steps to reproduce

1. Generate ISO
2. Boot up Meilix
3. Loading notice says Ubuntu 17.04

### Expected behaviour

A startup screen -

[2017-07-29 14:12] tabesin commented on #98
As long as we are in debug mode I recommend to email the build log to the requesting user.

[2017-07-30 03:34] meets2tarun commented on #101
https://github.com/fossasia/meilix/pull/97/files#diff-0b83f9dedf40d7356e5ca147a077acb4R150
This line installs the icon but in the meilix iso this actually doesn't get install.

[2017-07-30 03:37] meets2tarun opened #117 "Chrome not found in meilix"
- Issue type: Bug report

### Short description
Google Chrome browser is not found in the iso

### Expected behaviour

https://github.com/fossasia/meilix/pull/97/files#diff-0b83f9dedf40d7356e5ca147a077acb4R134
This line installs the chrome browser, so it is expected that the browser should be there.

### Actual behaviour

But the browser isn't there.

[2017-07-30 03:53] meets2tarun commented on #101
The issue is solved in the iso latest release:
https://github.com/fossasia/meilix/releases/tag/untagged-481c53d0a391cff65a58

[2017-07-30 03:53] #101 closed

[2017-07-30 09:44] tabesin commented on #101
Anyway, please take the "complete" package for the oxygen icons

[2017-07-30 09:46] tabesin commented on #117
Try:
1) -y parameters
2) add repo to our sources list instead of monkey patching

[2017-07-30 09:47] tabesin commented on #117
https://github.com/fossasia/meilix/pull/97/files#diff-0b83f9dedf40d7356e5ca147a077acb4R134

[2017-07-30 09:54] tabesin commented on #64
Could the ticket be closed?

[2017-07-30 09:55] #64 closed

[2017-07-30 11:06] tabesin commented on #117
Also move key adding to the key section of the script.

[2017-07-30 11:10] tabesin commented on #117
Please also ensure that you install a i386 build when the build is i386.

[2017-07-30 11:36] tabesin commented on #51
Ok, so, we need the Chrome repo and the LXQT repo -- what else?

[2017-07-30 12:19] abishekvashok commented on #81
Can we let user decide the architecture

[2017-07-30 12:20] abishekvashok commented on #81
Plus, adding an interface for SUSI like a command which intiates a build of the ISO and a subsequent notification would be awesome, what do you think @mariobehling @meets2tarun @xeon-zolt .

[2017-07-30 12:39] meets2tarun commented on #117
I too saw that chorme for 32 bit is not longet there
What should we do now?

[2017-07-30 12:42] meets2tarun commented on #51
Till now this much.

[2017-07-30 12:44] xeon-zolt commented on #117
why do we need to use google chrome when chromium is present?

[2017-07-30 12:47] tabesin commented on #117
Anyway, add the repo to the sources.list and the key to the add-key section of build.sh

If you take stable it should still be available in 32bit

[2017-07-30 12:49] meets2tarun commented on #117
https://github.com/fossasia/labs.fossasia.org/issues/135

[2017-07-30 12:58] tabesin commented on #51
Plus the key for the custom repos need to be added. There is a key section in build.sh

[2017-07-30 13:37] tabesin commented on #117
So I tried it manually on a hotelos image:
![hotelosd](https://user-images.githubusercontent.com/10114907/28754003-09e0d8ba-753d-11e7-93cb-aef6390fb4bd.png)

[2017-07-30 13:46] tabesin opened #119 "Notice of 12.04 cdrom repository has no release file"
- Issue type: Bug report

### Short description

Problem with the "cdrom" file source. A issue emerges with the cdrom repo (which afaik is a dummy repository added by build.sh). Try apt update on a generated ISO live system.

![test](https://user-images.githubusercontent.com/10114907/28754037-a575883e-753d-11e7-95b8-db83a3e4b43f.png)

[2017-07-30 14:37] tabesin commented on #117
I would suggest there is nothing to do. Otherwise, if a decision is made to include the package anyway, we can download an older Chrome 32Bit Ubuntu version to the repo and install the deb manually but that would not be recommended (aka slavish support of 135 list).

[2017-07-30 15:17] tabesin opened #120 "Custom Hotelos theme for LXQt"
- Issue type: Feature request

### Short description

We should either allow a customized menu button LXQt theme (via the generator webapp) or at least build a standard theme for Hotelos.

### Hint
1) LXQT Theme is selected in .config/lxqt/lxqt.conf, line "theme=NAME_OF_THEME"

2) How to create a quick and dirty fossasia custom theme in user space? In /usr/share/lxqt/themes/ a) sudo cp -P -r light

[2017-07-30 20:30] tabesin opened #121 "Disable About LXQT label in menu"
- Issue type: Feature request

### Short description
Disable the display of the about-lxqt entry in the menu.
(on a user system this could be done via "menulibre"; then find out what it does)

![fossasiatheme](https://user-images.githubusercontent.com/10114907/28756873-5741a7ee-7577-11e7-8b5f-257b4ed8b263.png)

[2017-07-31 19:12] xeon-zolt opened #122 "Better Deployment for Meilix Generator"
Currently, we are deploying on Github only due to which we have a collection of many builds and the pile keep on increasing and requires a cleaning from time to time so to avoid that we can shift from GitHub deployment to [transfer.sh](https://transfer.sh/) where we can host the build for 14days and that can be used for the time period of the event also for which the build is required

[2017-07-31 19:25] tabesin commented on #122
I would strongly advise in the current phase to focus to much on the environment. In principle there is no point to store the generated content longterm or midterm at this stage on our side. A user generates an ISO and uploads it him- or herself to any file sharing service that suits him. At the present state the generated content is mostly beta state, so a clear priority is to get it into a bette

[2017-07-31 22:46] tabesin commented on #122
My 2cents:
Setting each time a meilix-latest.iso symlink to the latest build.
Plus automatically deleting all isofiles older than x days

[2017-08-01 03:33] meets2tarun commented on #122
How can such be achieved, I saw the way to delete all the releases at a time using Github API but not at any specific days.

[2017-08-01 03:57] abishekvashok commented on #122
Use cron jobs provided by travis to do so, maybe everyday or so, if you want I would provide you a script.

[2017-08-01 03:59] abishekvashok commented on #121
I think there's a config file that can be pasted at the HOME directory to disable that. But, why should we remove that really?

[2017-08-01 03:59] meets2tarun commented on #122
Sure @abishekvashok

[2017-08-01 04:00] abishekvashok commented on #117
Well that would be hard, we would be falling back on security and other things.

[2017-08-01 04:01] meets2tarun commented on #117
IMO, discard the idea to include chrome

[2017-08-01 04:01] abishekvashok commented on #122
@meets2tarun link me to that api documentation

[2017-08-01 04:03] abishekvashok commented on #117
Yes, why should we include chrome and chromium. CC: @mariobehling

[2017-08-01 04:06] meets2tarun commented on #122
https://developer.github.com/v3/repos/releases/

[2017-08-01 05:54] abishekvashok commented on #122
[code]

[2017-08-01 06:01] meets2tarun commented on #122
Sure

[2017-08-01 06:03] abishekvashok commented on #122
oh sorry @meets2tarun we would need an access token, I don't have access  so please use this script with your access token and make a PR

[2017-08-01 09:33] tabesin commented on #121
It is a junior job item of polishing the generated distribution. It is super-easy to do and a simple task to recruit new developers or showcase how to hack Meilix for fun.

I think LXQT does not add to user experience at this place and Meilix users should not have to worry or think about what LXDE might be, in this prominent place the item is clearly misplaced, so any distribution package would ch

[2017-08-01 09:38] tabesin commented on #62
Very nice item about showing the entrance to the rabbit hole but no current "issue".

[2017-08-01 09:38] #62 closed

[2017-08-01 09:40] abishekvashok commented on #48
@mariobehling what else we need here now?

[2017-08-01 09:41] #95 closed

[2017-08-01 09:42] abishekvashok commented on #62
@tabesin we could have added the `later` label

[2017-08-01 09:43] abishekvashok commented on #1
Can we have updates here?

[2017-08-01 12:25] tabesin commented on #122
BTW, this works: https://github.com/fossasia/meilix/releases/latest

[2017-08-01 12:35] abishekvashok commented on #122
@tabesin that does'not clean the releases, it just fetches the latest release, as of now, we want to clean the releases which are no longer required and will be much more spammy when in production.

[2017-08-01 12:41] abishekvashok opened #123 "Reduce the size of the output .iso"
- Issue type: Feature request

### Short description

Lubuntu takes less than ! GB to download while ubuntu takes a mere 5000mb, it would be better if we could reduce size of the output iso.

[2017-08-01 12:43] abishekvashok commented on #24
@meets2tarun any updates on this one?

[2017-08-01 12:48] tabesin opened #124 "Multiple keyboard layouts support"
- Issue type: Bug report/Feature request

### Short description
install local language keyboard layouts
- might be a user configuration
- There are a limited number of keyboards, same like with packages
- all keyboards are preinstalled
- there is a menu somewhere which may only appear if you as a user can choose between several languages. There, these languages should appear

### Usecase

I am a G

[2017-08-01 12:50] abishekvashok opened #125 "gh-pages branch configuration is changed"
- Issue type: Bug report

### Short description

We provided a ppa in the gh-pages branch but however someone changed the settings. https://meilix.fossasia.org doesnot point to it.

[2017-08-01 12:56] xeon-zolt commented on #123
we can use better compression for squashing but that will cost time and may not give required compression

[2017-08-01 12:58] abishekvashok commented on #123
We would need try everything to make sure everything we have is at it's maximum.

[2017-08-01 13:02] tabesin commented on #125
Does https://github.com/fossasia/meilix/blob/master/scripts/aptRepoUpdater.sh not work any more? Any useful failure notices?

Or is is just the meilix.fossasia.org website is not pointing to the gh pages ppa anymore?

[2017-08-01 13:04] abishekvashok commented on #125
It works but before that build errors.

[2017-08-01 13:06] abishekvashok opened #126 "Build is errored"
- Issue type: Bug report

### Short description
401 Bad credentials for deployment, please provide valid access tokens,

### Correct Logged Line
`/home/travis/.rvm/gems/ruby-2.2.7/gems/octokit-4.6.2/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/user: 401 - Bad credentials // See: https://developer.github.com/v3 (Octokit::Unauthorized)`

### Reason
The credenti

[2017-08-01 13:08] tabesin commented on #126
Where and how did this error emerge? Using build.sh?

[2017-08-01 13:09] abishekvashok commented on #125
And the bot has been pushed off rights @mariobehling pls enable it again as done in the past to make it work. The username is `apt-bot`, let me know when you did so.

[2017-08-01 13:10] abishekvashok commented on #126
`.travis.yml`

I guess in the deploy section.

[2017-08-01 13:14] tabesin commented on #125
If you need something from Mario that no other person could fix, feel free to add him as Assignee (as I just did).

We also have to ensure to make our issue report as precise as possible and add all the data needed. E.g. I have no idea if Mario knows exactly how to "enable it again" as he might have disabled them by some other routine action. A "someone changed the settings" is not all too helpful

[2017-08-01 13:26] tabesin commented on #126
See the last commit of @meets2tarun https://github.com/fossasia/meilix/commit/1d4804979b6100ca27212e0b33638ef4d912d7d0

   api_key:
-      secure: "tVVKOMh0dZCrHkAfoqIYJYleJwTwXptumugYVcGi/WDaeFi9o1ROTKVdLXUO2CcAUgWUphWjnckF4uVdKBcCB87Af0hgQBXdpDJ4VSb2FFjjY3Lf5dpR1FTYR6Tqsn821mYM17wtwmO1tlg8zFqd1yysr36wZ0EqzFwBtV2FA0jNfxGtFyyJRZnDcCQqwREc2iIENSt8tE787HbwPaWGBEkpC8zYwNYkQXPgFvTi+Z/6Tnobz7gnk9wQFuzF

[2017-08-01 13:35] abishekvashok commented on #126
Hey it's required by Travis CI to run. Travis CI runs the code as linted down in .travis.yml. We are using Travis to build to iso file. We can't do that.

[2017-08-01 13:36] abishekvashok commented on #125
He's he co-founder of FOSSASIA and he really knows how to do it.

Assignees can be asigned olny by people with access I guess, my access was revoked in the not so old past.

[2017-08-01 14:29] meets2tarun commented on #24
@abishekvashok No updates.
And it's going to take time and I don't know how to implement that.

[2017-08-01 14:50] abishekvashok commented on #24
aren't we using i368 as well as 64 bit packages?

[2017-08-01 14:53] abishekvashok commented on #124
We should ask this in the generator and add that only layout.

[2017-08-01 14:53] abishekvashok commented on #40
any updates on this @meets2tarun

[2017-08-01 15:18] meets2tarun commented on #124
And how do we do that `that ask the user and install its keyboard` ?

[2017-08-01 15:19] meets2tarun commented on #24
Could you please mention those packages?

[2017-08-01 15:19] meets2tarun commented on #24
Could you please mention those packages?

[2017-08-01 15:24] meets2tarun commented on #40
Since we have shifted the build to generator branch from the master branch and generator branch uses a different strategy to build the ISO.
But on the other hand master branch uses the same old method to build and same time also.
I have doubt in this [approach](https://github.com/fossasia/meilix/issues/40#issuecomment-315377594), and I hope you to give a PR.

[2017-08-01 18:35] #126 closed

[2017-08-02 04:25] abishekvashok commented on #40
@meets2tarun I get the logic now, but on the other hand, I have found some simple logical problems on to both branches which will be required. Opening issues for those.

On the way.

[2017-08-02 04:30] meets2tarun commented on #122
Give a PR with your token, then I'll edit it with mine.

[2017-08-02 04:31] abishekvashok opened #127 "Make the releases from master and generator branch distinguishable"
- Issue type: Feature request

### Short description
Make the releases from master and generator branch distinguishable somehow will do us great benefits, it will help us in #128

[2017-08-02 04:32] abishekvashok opened #128 "Fetch the latest release from the master branch"
- Issue type: Feature request

### Short description
Instead of fetching a static release in the generator branch, we could automate things to fetch the latest release with the help of github api and edit that iso.

[2017-08-02 04:45] meets2tarun opened #129 "Make generator branch independent"
- Issue type: Feature request

### Short description

Now generator branch is in sync with the master branch. It means it shows `This branch is 30 commits ahead, 25 commits behind the master. `

### Description

The idea is to make this independent like that of the gh-pages branch.

[2017-08-02 04:50] meets2tarun opened #131 "Required Contribution.md file"
- Issue type: Feature request

### Short description

We require a contribution.md file for the repository and this issue is made to collectively collect the ideas then one will gather all of those to design it.

[2017-08-02 04:51] abishekvashok commented on #131
Basically we could put these small things off and let's code, that will be much better.

[2017-08-02 04:51] abishekvashok commented on #124
Just as we did for the wallpaper. Install the locales on demand in the generator branch.

[2017-08-02 04:52] abishekvashok commented on #127
@meets2tarun @xeon-zolt can someone of you brief us on how the releases are named?

[2017-08-02 04:55] abishekvashok commented on #29
Seems like someone enabled it again!

[2017-08-02 05:05] #69 closed

[2017-08-02 05:05] #102 closed

[2017-08-02 05:09] xeon-zolt commented on #29
@meets2tarun enabled it

[2017-08-02 05:10] xeon-zolt commented on #127
generator releases are named as custom-meilix under the tag name sent by webapp

[2017-08-02 05:10] meets2tarun commented on #29
👍

[2017-08-02 05:13] meets2tarun commented on #131
Things came to my mind and I made the issues so that one can do it in the future and it also matters to follow to best practices. The issue is made to get the best opinion and learn here. This is a side job and our main concern is code but this issue will be responsible to get the best code out of the box.

[2017-08-02 05:17] meets2tarun opened #132 "Move the script to script folder"
- Issue type: Feature request

### Short description

Moving the script like `debuid.sh` to the script folder.

[2017-08-02 05:18] abishekvashok commented on #29
@meets2tarun please disable it, it's not needed.

[2017-08-02 05:19] abishekvashok commented on #127
then, the master ones? @xeon-zolt

[2017-08-02 05:21] abishekvashok commented on #67
Seems intresting.

[2017-08-02 08:06] meets2tarun commented on #127
@abishekvashok

"https://github.com/fossasia/meilix/releases/download/${TRAVIS_TAG}/meilix-zesty-`date +%Y%m%d`-i386.iso"
This way the master release is named and tag is a random string and here we are assigning it through environment variable to predict a ISO link beforehand.
Source: https://github.com/fossasia/meilix-generator/blob/master/script.sh#L21

[2017-08-02 08:08] meets2tarun commented on #67
@abishekvashok

It's already happening in the live ISO, I'm not sure when one installs it on its hdd.

[2017-08-02 12:01] tabesin commented on #131
If it's won't fix it could be closed for now

[2017-08-02 12:01] #131 closed

[2017-08-02 12:57] betterclever commented on #81
@abishekvashok I think that is not our use case. Our aim is to add SUSI to Meilix and not build an ISO using SUSI skill. Something like building iso is better a continuous integration process and we can do it in Travis CI. Why would we call SUSI to initiate that? It won't be needed frequently even if somewhat relevant.

[2017-08-02 12:58] tabesin commented on #132
Note that debuild always has to get executed in root. Please sent a clean PR when you are done.

[2017-08-02 14:52] abishekvashok commented on #81
@betterclever it will be like an other interface for the meilix-generator.

[2017-08-02 14:55] abishekvashok commented on #127
Ok look, can we make the  $TRAVISTAG for master and generator branch distinguishable?

[2017-08-02 15:08] xeon-zolt commented on #127
@meets2tarun that method of release for generator is changed now all the release have link like
https://github.com/xeon-zolt/meilix/releases/download/${TRAVIS_TAG}/meilix-i386-custom.iso

@abishekvashok TRAVIS_TAG is not used for master branch releases

[2017-08-02 17:14] tabesin commented on #128
https://github.com/fossasia/meilix/releases/latest

[2017-08-02 17:41] tabesin opened #133 "Disable Desktop Notifications"
Upon first startup the Meilix pollutes the screen with LXQT notifications. So the question is how to turn them off or silence or tweak them? How to "fix them" in so far they demonstrate an error?

Hints for research:
https://github.com/lxde/lxqt-notificationd
https://wiki.archlinux.org/index.php/Desktop_notifications

[2017-08-02 17:42] meets2tarun commented on #133
What does the `junior job` mean here?

[2017-08-02 17:44] xeon-zolt commented on #133
attempted removing library responsible for notification but some apps still can send notifications

[2017-08-02 17:47] tabesin commented on #123
Your main argument is download time. For me it takes 35 minutes. I'd suggest to keep the status quo, for a final version we may well end up with a 3GB image and that would be fine. Download time, build time, we don't have to optimize that while the ISO itself is in beta stage.

[2017-08-02 18:27] meets2tarun commented on #88
This is a ticket which contains a lots of issues that need to break down into pieces and then implement it one by one.

[2017-08-02 18:54] tabesin commented on #133
What I read online in LXQT forums is that removing does not work. You just have to turn the demon off or clear or resolve the messages. Which hints at the metapackage box.

JuniorJob = well contained easy hack.

[2017-08-02 19:07] tabesin commented on #88
Could you document how to commit settings to the metapackage? I mean just the pipe. I understand it as follows: A) we fix it on a live system. B) we look what config changes took place C) "We add our changes to metapackage-settings in skel, then run debuild.sh, then commit, **is that correct?** D) and then PR D) Once the PR is merged we can build a new iso on the server and test it? (Whereas we co

[2017-08-02 19:15] meets2tarun commented on #88
Sure.

Yes.

[2017-08-03 04:00] meets2tarun opened #135 "Disabling Screen Saver in meilix"
- Issue type: Feature request

### Short description

We need to disable the screen saver in the meiix ISO

### Usecase

This feature is one of the requirement as mention https://github.com/fossasia/labs.fossasia.org/issues/135
### Description

To disable we have to edit a config file located in or where should the screen saver switch-off setting go into .xsessionrc or .xinitrc or .profile?

[2017-08-03 08:34] tabesin commented on #135
Sent you a PR to your screen dimming repo which goes for .profile.

[2017-08-03 13:41] tabesin commented on #81
Guys, of course you need ARM packages for an ARM architecture. But it does not matter whether you get it work on i386 or ARM first. So when you start to think about ARM porting you take the second step first. The first step is getting it on Meilix which is i386 right now.

A bit over the top is the issue whether SUSI could be used to trigger MEILIX builds, that is too much "eating your own dogfood

[2017-08-03 15:48] abishekvashok commented on #81
No, it ain't. @tabesin.

[2017-08-03 19:14] tabesin opened #137 "Remove outdated binary Firefox in metapackage"
- Issue type: Bug report
### Short description

The Meilix-default-settings package includes several binary overwrites. Some files may be needed for the Firefox customization but not all of them.

### Environment
Selecting previously unselected package meilix-default-settings.
(Reading database ... 156344 files and directories currently installed.)
Preparing to unpack meilix-default-settings_1.0_a

[2017-08-04 04:13] meets2tarun opened #138 "Any PR doesn't get automatically debuild"
- Issue type: Bug report

### Short description

Although we've implemented the script for debuild.sh but its actually not debuild the PR from its own end.

[2017-08-04 08:23] tabesin commented on #138
According to my research and the logs it is build (what currently fails is ISO deployment for permissions reasons). Because Travis build servers mirrors the github repository you won't see any build meta packages within the repo. I added a missing package that was needed for debuild to function.

[2017-08-04 08:28] tabesin commented on #138
Side question: Why don't we put the metapackage in a repository of its own and build it?

[2017-08-04 08:38] tabesin commented on #138
https://travis-ci.org/fossasia/meilix/requests

[2017-08-04 08:40] tabesin commented on #138
The first failed build is Fixes the conflicting package for Firefox present i

[2017-08-04 08:42] tabesin commented on #138
You changed the Travis API key, may that have caused the issue?
https://github.com/fossasia/meilix/commit/035f12650a0984f17007182e60262954c9dd9a77#diff-354f30a63fb0907d4ad57269548329e3

[2017-08-04 10:51] tabesin commented on #137
sudo apt-get -o Dpkg::Options::="--force-overwrite" install firefox

installs a running firefox on the system by overwriting all the metapackage stuff.

[2017-08-04 13:07] meets2tarun commented on #138
But the issue is different that is of debuilding the PR to avoid for us to resolve the conflicts as this PR has https://github.com/fossasia/meilix/pull/110

[2017-08-04 13:08] meets2tarun commented on #138
We can but that may increase meilix source code size.

[2017-08-04 13:09] tabesin commented on #138
build triggers debuild in travis

[2017-08-04 13:11] meets2tarun commented on #138
then why conflicts get arise always?

[2017-08-04 16:40] meets2tarun commented on #138
No need to build PR
Kindly go through this comment
https://github.com/fossasia/meilix/pull/136#issuecomment-320295778
and the debuild.sh will do the rest of the job for us.
Thank You

[2017-08-04 16:40] #138 closed

[2017-08-06 04:33] meets2tarun commented on #135
This is the latest ISO and in this screen saver is working
https://github.com/fossasia/meilix/releases/tag/untagged-1cef988b4352d7160278

[2017-08-07 05:19] meets2tarun opened #144 "Only live boot is available in the ISO"
- Issue type: Bug report

### Short description

The ISO has two options:
- live boot
- install the system

But both the ways start the live system even the install system also

[2017-08-07 11:40] meets2tarun commented on #129
@tabesin
Can you help us regarding this?

[2017-08-08 13:18] #100 closed

[2017-08-08 15:39] meets2tarun opened #145 "Turn off power configuration in Meilix ISO"
- Issue type:Feature request

### Short description

Whenever meilix ISO starts then it loads power config popup, we need to stop power configuration from the very beginning.

[2017-08-08 22:55] meets2tarun commented on #133
![screenshot_fghjkl_2017-08-09_04 24 02](https://user-images.githubusercontent.com/15213246/29098027-bb219946-7cba-11e7-91d1-d94eea727f63.png)

[2017-08-09 03:55] meets2tarun commented on #135
@tabesin https://github.com/fossasia/meilix/pull/136 This one can't solve the issue.

[2017-08-09 20:43] #145 closed

[2017-08-10 04:04] meets2tarun opened #147 "Include Documentation for editing meilix-default-settings metapackage"
- Issue type: Feature request

### Short description

This issue needs to get solved by improving the documentation by including a section for the new-beginners to let them know the way to edit the OS by editing the meilix-default-settings metapackage.

[2017-08-10 04:07] meets2tarun opened #148 "Stop to commit Travis API key in the repository"
- Issue type: Feature request

### Short description

Every person has its own unique secure key included in the .travis.yml file and the idea is to not include the .travis.yml file is its been committed.

[2017-08-10 04:18] meets2tarun opened #151 "Travis deployment fail sometime due to TimeOut Error"
- Issue type: Bug report

### Short description

Travis deployment fails sometime due to timeout error and it get solved by restarting the build.
![screenshot from 2017-08-09 10-09-04](https://user-images.githubusercontent.com/15213246/29154313-1956233c-7db1-11e7-87e2-cb6a2e255c01.png)

[2017-08-10 08:47] tabesin commented on #151
Apparently it helps to wait the night.

[2017-08-10 09:33] tabesin opened #152 "Meilix says it is Ubuntu"
uname -a

lsb_release -a

[2017-08-10 09:38] tabesin opened #153 "lxqt-powermanagement-l10n included"
The package
lxqt-powermanagement-l10n
gets installed while the lxqt-powermanagement is not installed anymore. Please also purge this package.

[2017-08-10 11:06] tabesin opened #154 "Get start page configuration back in"
Now that we use a recent and running Firefox we should put the settings back for Firefox customization of the start page.

[2017-08-10 13:26] xeon-zolt commented on #152
let me try the hack to modify it

[2017-08-10 16:18] tabesin opened #155 "ISO naming"
When you look at:

you realize that the name of an image is always the same per day. That is no issue with one build per day but may be an issue with deployment. So please verify.

[2017-08-11 08:35] tabesin opened #156 "Meilix Default Settings Cleanup"
So this is simple: We need to remove the /debian/meilix-default-settings folder contents in /meilix-default-settings.

Locally it would be
`rm -rf meilix-default-settings/debian/meilix-default-settings

This is what gets triggered at each and every rebuild by the debuild script.

But to actually remove the files from the Fossasia-Meilix repo you need to use git rm instead.  with --cached option, s

[2017-08-12 08:31] abishekvashok commented on #148
You need to disable enabling his/her unique key and implement that of fossasia. (Releases should be made only on this repo). If you want to have releases so that you can test things you will have two options:

1. Don't track the changes made in the .travis.yml file.
2. Run the build.sh file on your own machine.

Option 2 may require some time based on your PC's processing power.

**We can't remove

[2017-08-12 10:25] meets2tarun commented on #148
@abishekvashok

How does this option possible?

[2017-08-12 11:53] #135 closed

[2017-08-12 12:06] tabesin commented on #148
Locally, on your machine.

[2017-08-12 12:11] abishekvashok commented on #148
@meets2tarun when you track files before commit-ing;

[code]

**But remember Travis won't get your new keys. It will keep the old ones.**

Another option would be revert a commit after all testing is done:
`git revert <commit>`

[2017-08-12 12:12] abishekvashok commented on #125
@mariobehling will we need the PPA? if yes, please enable it.

[2017-08-12 12:13] abishekvashok commented on #29
@meets2tarun

[2017-08-12 12:14] tabesin opened #158 "plymouth theming"
plymouth-theme-ubuntu-text
plymouth-theme-ubuntu-logo

are the two theming packages in zesty. I suggest to download the source packages, hack them and generate a custom plymouth-theme-meilix-text and a plymouth-theme-meilix-logo deb package replacing the current artwork package.

[2017-08-12 12:15] abishekvashok commented on #127
@xeon-zolt @meets2tarun maybe you could make the master branch contain a word like `base` or something.

[2017-08-12 13:18] #122 closed

[2017-08-13 02:47] meets2tarun commented on #29
@abishekvashok
Disabled.

[2017-08-13 02:47] #29 closed

[2017-08-13 05:07] meets2tarun commented on #116
This issue still persists.

[2017-08-13 05:35] meets2tarun commented on #153
How do you come to know about this package get installed?

[2017-08-13 12:28] #154 closed

[2017-08-13 12:29] #153 closed

[2017-08-13 12:40] tabesin commented on #116
I suggest to follow the https://github.com/fossasia/meilix/issues/158 approach and merge what we did so far into this. That is take the most recent ubuntu theming packages as a base. Our current approach is based on 4 year old incarnations.

[2017-08-13 12:45] tabesin commented on #158
The reason behind is that we currently make our hacks on a 3 years old base and don't really have the full picture. Btw. there are other plymouth-theme-*-logo packages for xubuntu, kubuntu and so forth, but it should be easy anyway to see what needs to get changed.

[2017-08-13 12:48] #156 closed

[2017-08-13 12:57] tabesin commented on #158
See also:
http://rajeshksv.blogspot.de/2017/02/customize-ubuntu-linux-plymouth-splash.html
https://askubuntu.com/questions/773723/using-update-alternatives-to-change-plymouth-theme-only-affects-shutdown-animati

[2017-08-13 13:16] tabesin commented on #153
https://travis-ci.org/fossasia/meilix raw logs

[2017-08-13 13:19] tabesin commented on #147
your upcoming blog post should be sufficient for now

[2017-08-13 13:21] tabesin commented on #133
Now only the lxqt panel warning about registering a shortcuts prevails, that seems to be a bug in lxqt but can be solved by editing the configuration that causes it.

[2017-08-13 13:28] tabesin commented on #133
Explained here https://github.com/lxde/lxqt/issues/1032 with regards to openbox.

It is basically that the display manager registers it before. We are not using openbox, right? So consider to file a bug upstream as it affects our display manager as well.

[2017-08-13 15:40] tabesin commented on #133
Let's see if I fixed that.

[2017-08-13 16:18] xeon-zolt commented on #133
we are using opebox

[2017-08-14 07:54] xeon-zolt opened #167 "Similar theme configuration for gtk and qt apps"
### Short description

both gtk and qt apps have different themes and dont look even like both have different cursors and window decorations

### Steps to reproduce

1.  open a gtk app like nautilus
2.  open a qt app like pcmanfm-qt
3.  now compare both

### Expected behaviour

should look similar
### Actual behaviour

looks different in terms of window decoratons and theme

[2017-08-14 13:35] meets2tarun commented on #137
@tabesin
How can one reproduce this error?

[2017-08-16 17:21] niccokunzmann commented on #137
Reproduce by installing firefox on the live iso with `sudo apt-get install firefox`.
There is a binary package in the meilix-default-settings directory: https://github.com/fossasia/meilix/search?utf8=%E2%9C%93&q=firefox&type=

[2017-08-16 17:22] #137 closed

[2017-08-16 17:26] niccokunzmann commented on #155
We can also use `$TRAVIS_BUILD_NUMBER` to distinct files from the same day.

[2017-08-16 17:29] #155 closed

[2017-08-18 04:23] meets2tarun opened #169 "Reduce Travis log"
- Issue type: Feature request

### Short description

Reduce the Travis log to get the output within line 9999.
Since long range log responsible to timeout error during deployment.
https://travis-ci.org/meets2tarun/meilix/builds/265418039?utm_source=github_status&utm_medium=notification

[2017-08-19 12:54] abishekvashok commented on #169
Add -qq arg to apt-get install

[2017-08-19 12:59] abishekvashok commented on #152
@xeon-zolt `/etc/distrib-release` and `/etc/lsb-release` contains those info.

[2017-08-19 13:01] abishekvashok commented on #151
You need the reduce the time which it takes to run. Maybe, if you cant do that, we could move of Travis to a new CI.

[2017-08-19 13:01] abishekvashok commented on #144
Do we have a installer here? I don't think so.

[2017-08-19 13:08] xeon-zolt commented on #144
ubiquity is missing

[2017-08-19 20:15] meets2tarun commented on #129
@tabesin  We need you to do this.

[2017-08-19 23:58] #169 closed

[2017-08-20 00:01] tabesin commented on #148
ok, so let's close it.

[2017-08-20 00:01] #148 closed

[2017-08-20 04:42] meets2tarun opened #173 "Break out system"
- Issue type: Bug report

### Short description

The system seems to breaks out after merging of commits and the desktop seems as:
![ned](https://user-images.githubusercontent.com/15213246/29492152-08056232-8590-11e7-87a1-2bcf441b1a08.png)

[2017-08-20 04:53] meets2tarun commented on #152
This need still to be solved.

[2017-08-20 04:56] meets2tarun commented on #152
The

can't be changed because Meilix is although using Ubuntu Linux Kernel.

[2017-08-20 04:56] #152 closed

[2017-08-20 07:55] xeon-zolt commented on #173
did this happen after merging of theme or any other commit?

[2017-08-20 07:57] meets2tarun commented on #173
That I don't know exactly.

[2017-08-20 08:15] xeon-zolt commented on #173
testing if it is due to theme

[2017-08-20 09:27] meets2tarun commented on #173
It is good if it is due to theme because then we can customize the theme quite easily.
![wallpaper](https://user-images.githubusercontent.com/15213246/29493622-a39ab108-85b7-11e7-8752-d4ae1ffd56cb.png)
The black screen is basically a wallpaper and since it doesn't get any wallpaper as mentioned in the location, therefore, the system set a black screen as a wallpaper.
This might help us in setting

[2017-08-20 10:13] tabesin commented on #173
It's all fine. That shows that the wallpaper configuration works.

[2017-08-20 10:15] tabesin commented on #127
What is the difference in purpose between meilix-generator and the generator branch of meilix?

[2017-08-20 10:24] tabesin commented on #173
Please retest https://github.com/fossasia/meilix/blob/master/meilix-default-settings/etc/skel/.config/pcmanfm-qt/lxqt/settings.conf

[2017-08-20 10:49] meets2tarun commented on #127
Meilix generator is the webapp uses the generator branch of meilix to build the ISO.

[2017-08-20 10:50] abishekvashok commented on #127
I didn't get that, please punctuate correctly.

[2017-08-20 10:57] meets2tarun commented on #127
https://github.com/fossasia/meilix#branch-policy
https://github.com/fossasia/meilix-generator#meilix-generator
here it is said that it uses meilix script, more precisely it uses generator branch of meilix.
verify it here: https://github.com/fossasia/meilix-generator/blob/master/travis_tokens
We'll edit this in the last week (this week).

[2017-08-20 11:24] meets2tarun commented on #151
#172 solved this.

[2017-08-20 11:24] #151 closed

[2017-08-20 11:34] #173 closed

[2017-08-21 16:10] #120 closed

[2017-08-21 16:12] #116 closed

[2017-08-21 16:12] #104 closed

[2017-08-21 16:16] #51 closed

[2017-08-21 16:23] tabesin commented on #147
https://docs.google.com/document/d/1oalHUIblSoO-e2VCtBT929JfriWQDdI8q2GfgDXtXxI/edit?ts=599acc70#
seems ok, I will close this for now, you are free to expand documentation at any time.

[2017-08-21 16:23] #147 closed

[2017-08-21 16:27] #124 closed

[2017-08-21 16:30] #88 closed

[2017-08-21 16:31] #25 closed

[2017-08-21 16:31] #87 closed

[2017-08-21 16:35] #67 closed

[2017-08-21 16:37] #48 closed

[2017-08-21 16:38] #1 closed

[2017-08-21 16:39] #3 closed

[2017-08-22 09:03] abishekvashok commented on #40
@tabesin i didnt solve it as yet. A commit to the master branch takes in 24mins to complete

[2017-08-22 09:05] abishekvashok commented on #124
@tabesin was this solved?

[2017-08-22 09:05] abishekvashok commented on #104
Was this fixed

[2017-08-22 09:06] abishekvashok commented on #116
Is this one solved?

[2017-08-22 12:21] tabesin commented on #24
Related https://github.com/fossasia/meilix/issues/117
Chrome does not install as i386

[2017-08-22 13:06] tabesin commented on #144
Let's get it back then.

I guess Marios request to remove the installer was misunderstood, he meant: remove the Install entry from being displayed at the live cd desktop.

[2017-08-22 14:28] tabesin commented on #158
![bildschirmfoto vom 2017-08-22 16-26-44](https://user-images.githubusercontent.com/10114907/29570431-bc4a3c3c-8756-11e7-8b18-f2fa987ccca8.png)

Displayed for system shutdown but not at boot time for the image regeneration reasons you mentioned.

[2017-08-22 14:44] meets2tarun commented on #144
So it means that we will give the user only live boot option in the ISO? @tabesin

[2017-08-22 14:52] abishekvashok commented on #144
@meets2tarun I guess no.

[2017-08-22 14:52] meets2tarun commented on #104
@abishekvashok
Almost, we changed the strategy to work on the issue and the reason for the opening of the issue has been resolved.
The question was to get the files in the home folder of the user and we are successful in doing that.

[2017-08-22 14:57] meets2tarun commented on #144
@abishekvashok
I didn't get, the text is

While we boot the ISO the options appear are:
![mean](https://user-images.githubusercontent.com/15213246/29571935-4d0cedfc-8778-11e7-8329-4e464d270f8d.png)

Now tell me what to remove.

[2017-08-22 14:59] meets2tarun commented on #40
@abishekvashok
If you're working on the issue then kindly open the issue and file a PR.

[2017-08-22 14:59] abishekvashok commented on #144
@meets2tarun see the word `desktop`; There was a install icon on the desktop as of my knowledge.

Note: There was one before GSOC

[2017-08-22 15:02] meets2tarun commented on #144
ok, I got it.
There is no install icon the desktop right now in the meilix LXQt desktop.

[2017-08-22 19:40] xeon-zolt commented on #158
more strange it should be either at both boot and shutdown or not

[2017-08-22 20:54] tabesin commented on #158
The result is exactly what I found online, you have to regenerate the init system for it to take effect during boot time.

[2017-08-23 12:24] #40 closed

[2017-08-23 21:26] tabesin commented on #158
http://forum.linuxvillage.org/index.php?topic=158.0

[2017-08-24 00:13] tabesin commented on #144
Feedback of Mario: please enable install option for live CD.

[2017-08-24 00:15] tabesin commented on #119
Quantal seems to stem from the casper environment.

[2017-08-24 14:39] xeon-zolt commented on #119
I am creating a script for that instead of uploading the modified initrd

[2017-08-24 14:46] tabesin commented on #119
I talked to Mario yesterday. He prefers an install option.

[2017-08-25 07:19] meets2tarun commented on #133
Show desktop error still persists. I checked it in the latest iso release in the FOSSASIA repo.

[2017-08-25 07:51] #98 closed

[2017-08-25 08:35] #114 closed

[2017-08-25 08:37] tabesin commented on #111
For setting:
xdg-mime default application mimetype(s)
For querying:
xdg-mime query default mimetype(s)

[2017-08-25 08:37] tabesin commented on #96
merges with #111

[2017-08-25 08:37] #96 closed

[2017-08-25 08:39] #128 closed

[2017-08-25 08:56] meets2tarun commented on #133
@tabesin, We require your help here
We tried whole way but we aren't successful.

[2017-08-25 10:10] tabesin commented on #133
Ok, have a look at the notification demons and how to generate notiffications and how to stop them.

[2017-08-25 10:45] tabesin commented on #158
https://ubuntuforums.org/showthread.php?t=2322684

[2017-08-25 12:34] abishekvashok commented on #128
@tabesin why was this closed? 🤔

[2017-08-25 15:53] tabesin commented on #121
/usr/share/applications/lxqt-about.desktop

NoDisplay=true
[Desktop Entry]

bzw. ~/.local/usr/share

[2017-08-26 00:26] #158 closed

[2017-08-26 01:21] tabesin opened #183 "Depth greater 6"
I recall that in the build environemtn only supports a 6 level directory structure, however there are deeper setting in the meilix settings package, where substructures of /etc/skel are copied over. How do we increase that 6 value so that elements get included?

[2017-08-26 01:23] tabesin commented on #183
E.g.
https://github.com/fossasia/meilix/blob/master/meilix-default-settings/etc/skel/.local/usr/share/applications/lxqt-about.desktop
is not included in the live system because of the threshold.

[2017-08-26 12:01] tabesin commented on #121
Current implementation affected by https://github.com/fossasia/meilix/issues/183

[2017-08-26 18:28] meets2tarun opened #184 "Bad Credentials in releases_maintainers.sh"
- Issue type: Bug report

### Short description
There is an issue with the token credentials in the releases_maintainer.sh file.
https://travis-ci.org/fossasia/meilix/builds/268426537#L8798

This means that the file is in the code base but not executed. If the script is executed it is said to remove all earlier releases, so enabling the token is equivalent to deleting previous releases.

[2017-08-26 18:32] meets2tarun opened #185 "Enable hard disc install of Meilix"
- Issue type: Feature request

### Short description
We require one `Install the OS` option during the first screen of the ISO boot (that was removed and the ubiquity-enabled option to actually install the OS on a hard drive)

[2017-08-26 18:44] tabesin commented on #185
when Ubiquity is in place you are free to revert https://github.com/fossasia/meilix/pull/177

[2017-08-27 08:50] abishekvashok commented on #184
A PPA with complete repo permissions would be needed.

[2017-08-27 08:51] abishekvashok commented on #184
It would be better for the fossasia credentials are used, can you supply them @maruobehling

[2017-08-27 09:11] tabesin commented on #127
The mid term approach should be to "merge" both branches, that is get rid of generator branch. That is you have two kinds of builds processes in the master branch, first using defaults, second using custom meilix-webapp settings.

[2017-08-27 09:13] tabesin commented on #129
The task would be to make it obsolete because master does it,

[2017-08-27 09:13] #129 closed

[2017-08-27 12:32] mariobehling commented on #125
@abishekvashok The bot has not been disabled. There must be another reason. Or does it mean admin rights? What about alternative ways, what options are there?

![screenshot from 2017-08-27 14-31-33](https://user-images.githubusercontent.com/1583873/29749791-97f2d5c4-8b34-11e7-9aad-4da8d956191a.png)

[2017-08-27 15:07] abishekvashok commented on #125
@mariobehling sorry if were not clear. The problem is that,
currently `https://meilix.fossasia.org` does'not point to the gh-pages branch of this site.

No.

Go to the deployment group in the settings and fix it up. I don't have write access, I thought you knew to do so. Don't you?

[2017-08-27 15:09] abishekvashok commented on #127
What about build times, I guess the generator branch is taking just 5mins to make the apk as it fetches an apk already made in meilix. Maybe, we could compare changes and do the build, what do you say guys?

[2017-08-27 15:16] tabesin commented on #127
Technically generator should not be a "branch" because a branch is a variation of the same code base.

[2017-08-27 15:20] abishekvashok commented on #127
Then a new repo? Or should it be done in the generator branch inside heroku? But do heroku support `sudo`?

[2017-08-27 15:25] abishekvashok commented on #183
Is it because of git? >> I don't think so
Or, of Travis?

[2017-08-27 15:25] tabesin commented on #127
My top priority is to get the master branch sanitized.

[2017-08-27 15:33] abishekvashok commented on #183
I see here that https://docs.travis-ci.com/user/reference/overview/, Travis uses ext4 filesystem which has a depth of 64000.

[2017-08-27 17:18] meets2tarun commented on #127
@abishekvashok

No

[2017-08-27 17:20] meets2tarun commented on #125
Where is this deployment group can be found?
@abishekvashok

[2017-08-27 17:23] xeon-zolt commented on #127
generator branch is now totally unrelated to the master it contains the ISO download and modification scripts only for faster building process

[2017-08-27 17:31] tabesin commented on #127
Exactly.

[2017-08-27 19:49] xeon-zolt opened #186 "Adding Project mew to Meilix"
we can add this to the Meilix as it would be a great enhancement for the OS

Project Mew : http://github.com/fossasia/mew
blog on project mew : http://blog.fossasia.org/package-manager-translation-for-meilix/

[2017-08-28 04:48] abishekvashok commented on #125
In the settings tab, go down a bit into the repository settings.

[2017-08-28 12:06] tabesin commented on #186
Why don't you deb package mew before you apply it?

[2017-08-28 13:15] xeon-zolt commented on #186
I have added it to meilix default settings but ok let me create a separate deb

[2017-08-28 13:41] tabesin commented on #186
Settings is settings, and putting stuff into bin is a different horse and may create debian package management hell.

[2017-08-28 14:04] abishekvashok commented on #186
btwo we have apt @xeon-zolt is `mew` really required?

[2017-09-01 15:01] meets2tarun commented on #125
The issue is that http://fossasia.github.io/meilix/ doesn't redirect to https://meilix.fossasia.org

[2017-09-01 15:17] abishekvashok commented on #125
There is an option to configure manual domain @mariobehling can you look at the config again pls?

[2017-09-01 16:08] #184 closed

[2017-09-03 10:12] niccokunzmann opened #192 "Generator Branch does not create a release"
- Issue type: Bug report

### Short description

When I generate an ISO with https://meilix-generator.herokuapp.com/

![](https://user-images.githubusercontent.com/564768/30001909-9abf3730-909c-11e7-870d-19a8fdfa5e5f.png)
and then I see
![](https://user-images.githubusercontent.com/564768/30001915-ccd9c05a-909c-11e7-8f5a-6413a5325bc7.png)
Then
1. I do not get an E-Mail
2. I suppose the [build](htt

[2017-09-11 05:39] isht3 commented on #185
Hi, how do I start solving this issue as a part of Codeheat? :smile:

[2017-09-11 07:25] tabesin commented on #185
It involves installing ubiquity. First you should get familiar with the build process of Meilix and tinker around. Harsh (zeon-zolt) and Tarun could explain you how to make it happen.

[2017-09-11 10:38] meets2tarun commented on #125
This is working now! 👍

[2017-09-11 10:38] #125 closed

[2017-09-17 10:18] abishekvashok commented on #186
@xeon-zolt haven't you solved this?

[2017-09-17 10:42] xeon-zolt commented on #186
@abishekvashok can you tell me how to deploy package to apt for https://github.com/fossasia/mew/pull/13

[2017-09-18 10:16] #192 closed

[2017-09-19 11:58] tabesin commented on #133
No, you just need to pull the notifications that show up at startup.
1)  by resolving the cause that triggers the notifications first place
2) by killing the notifications that appear upon startup

This does not involve taking down the notification system altogether or hiding the notifications via theming, these are ugly and insufficent workarounds.

Get familiar with the notification demon. There

[2017-09-19 12:08] tabesin opened #196 "Review README.md"
- Issue type:Feature request

### Short description
Skim through and update the README.md
Review its contents and make it more helpful and uptodate for onboarding of developers.
As there are right now developers seeking to contribute it provides a good use case to get the README in a shape that is actually helpful and does not include outdated content.

https://github.com/fossasia/meilix/blob/mast

[2017-09-19 22:27] meets2tarun commented on #133
@tabesin I tried killing the notification in this https://github.com/fossasia/meilix/pull/165 but it didn't work.

[2017-09-19 22:28] meets2tarun commented on #196
I'll improve the readme.

[2017-09-20 11:48] tabesin commented on #196
Also mind the remarks of Karl Fogel in http://svnbook.red-bean.com/en/1.7/svn-book.html Foreword

[2017-09-20 13:38] meets2tarun commented on #196
Sure @tabesin

[2017-09-20 14:19] tabesin commented on #133
Have you asked the LXQT developers on IRC or whatever channel they use?

[2017-09-20 14:45] xeon-zolt commented on #133
no reply yet on reddit
let me check on IRC

[2017-09-20 17:15] invinciblycool commented on #132
Can I take this up as my first issue!
:smile:

[2017-09-20 17:31] xeon-zolt commented on #132
go on @invinciblycool

[2017-09-24 17:46] vaibhavsingh97 opened #197 "Load the default startpage configuration in firefox in https"
- Issue type: Bug report

### Short description
Right now, startpage configuration in firefox contains website with `http` in webaddress url and Susper shifted to `https`

I am interested to fix this issue

[2017-09-24 21:53] #197 closed

[2017-09-25 20:35] vaibhavsingh97 commented on #132
@xeon-zolt Can i claim this issue? Since there is no responce from @invinciblycool

[2017-09-25 20:37] vaibhavsingh97 commented on #121
@tabesin Can i take up this issue?

[2017-09-25 20:40] vaibhavsingh97 commented on #111
@tabesin Can i try to solve this? Any resources you want me to go through before trying to solve this issue?

[2017-09-25 23:09] tabesin commented on #121
Please try it out.

Technically it should already be fixed but... apparently the skel trick does not work for deeper directory structures.

[2017-09-26 12:58] meets2tarun commented on #132
@invinciblycool Are you working on the issue?
If so, please file a PR soon.

[2017-09-27 06:20] invinciblycool commented on #132
No, I guess I need to learn a lot more before I get into meilix.
@vaibhavsingh97 go on if you want.

[2017-09-27 06:43] meets2tarun commented on #132
@invinciblycool
I don't think so, it's a junior job and it's too easy, there is merely no meilix related matter in this issue.
If you want to get into Meilix then try to get into its development, ask on gitter or here and learn.
I believe you can do much better. Make sure you register for codeheat [here](https://docs.google.com/forms/d/e/1FAIpQLSfhIZHnDIFwHZjRHrp1LmzcBE5eaAtudCFgQKEoFwxb229Ulw/vie

[2017-09-27 12:28] tabesin opened #199 "For 32bit Architecture install latest working Skype 32Bit package (4.3)"
The repository has
https://github.com/fossasia/meilix/blob/master/skype-ubuntu_4.1.0.20-1_i386.deb
but this is not the last 32Bit release.

(there is no current 32 Bit release)

Add the last working Skype package to the repository.

If Meilix build is 64Bit install the latest version of Skype, otherwise the last working 32bit release of Skype.

[2017-09-27 12:39] tabesin opened #200 "Check if update-initramfs is needed after default settings package installation"
In chroot.sh there is the line 130 f.

Please investigate what is actually inside the default-settings package that may require a update-initramfs -u and whether that may overwrite changes established before.

[2017-09-27 13:06] tabesin opened #201 "64Bit apps support with conditionals"
- Issue type: Feature request

### Short description

Currently Meilix is 32 Bit for historical reasons. This puts on us several limitations such as unavailability of Chrome and current Skype which do not support 32 Bit architecture anymore. Thev limitation to 32 Bit does not make much sense anymore. Adding 64 Bit support needs to be done in a sensitive way that does not break any custom hacks for

[2017-09-28 08:31] tabesin commented on #201
The build script includes an architecture variable.

[2017-09-28 08:33] tabesin commented on #37
On the original issue #37 check the package cp command into the chroot.

[2017-09-28 09:24] meets2tarun commented on #201
yes @tabesin
how can we get this file  `image-amd64.tar.lzma`

[2017-09-28 12:50] #132 closed

[2017-09-28 20:13] tabesin commented on #201
We have to generate the kernel as we must the i686 kernel.

[2017-09-29 12:20] sandeepsajan0 commented on #133
Can I work on this issue?

[2017-09-29 12:36] meets2tarun commented on #133
Sandeep
Go for it! We will wait for your PR.

On 29-Sep-2017 17:50, "Sandeep" <notifications@github.com> wrote:

[2017-09-29 13:24] mariobehling opened #203 "Change references from meilix.fossasia.org to apt.meilix.org for apt resources"
We have set up meilix.org.

For apt resources, please setup apt.meilix.org.

[2017-09-30 10:30] meets2tarun opened #204 "Deleting of the old build releases"
We need to delete the old build releases which can be done from https://github.com/fossasia/meilix/blob/master/scripts/releases_maintainer.sh but this is not working due to credentials issue.

[2017-10-01 16:59] meets2tarun commented on #186
What else needs to be done here?

[2017-10-01 21:05] #196 closed

[2017-10-02 10:27] vaibhavsingh97 opened #207 "Automatic Deployment documentation in readme"
- Issue type: Feature request

### Short description
Right now there is no description for automatic development configuration.

**Yes, I would like work on this issue**

[2017-10-02 16:48] meets2tarun commented on #199
#37

[2017-10-02 16:49] meets2tarun commented on #201
#24

[2017-10-31 12:26] abishekvashok commented on #204
@meets2tarun can you provide a valid credential pls? or any one on @fossasia/linux-devops-admin

[2017-10-31 12:28] abishekvashok commented on #203
@mariobehling can you check the configs,
http://apt.meilix.org/ gives server not found and
http://meilix.org/ gives 404 error.

[2017-10-31 12:40] meets2tarun commented on #204
I have generated a token with scope as repo but still its not working!

[2017-10-31 12:42] abishekvashok commented on #204
@meets2tarun can you commit that, let's see what the log says.

[2017-10-31 12:47] meets2tarun commented on #204
Till now I was using the environment variable, but now lets try directly committing the token.

[2017-10-31 21:56] #81 closed

[2017-10-31 22:04] tabesin commented on #204
Just try to execute the script with the access token from your local machine. Don't commit the access token.

[2017-10-31 22:10] tabesin commented on #133
dbus-send --type=method_call\
--dest=org.freedesktop.Notifications\
/org/freedesktop/Notifications\
org.freedesktop.Notifications.CloseNotification uint32:0

[2017-10-31 22:57] tabesin commented on #133
see https://gist.github.com/baverman/6440898

[2017-11-08 16:04] fcore117 opened #213 "Custom Ubuntu based on Meilix, little help needed"
I know this is little off topic but i used Meilix script for building cleaner Ubuntu 17.10 that is suitable to me but i stumbled on issues i cannot resolve. I do not know where to turn for help about that and i thought that here i could find someone with heavy debootstrap and Ubuntu core knowledge.

Current problem is that i cannot find what causes that error(error1.png)

You can find extra info i

[2017-11-08 16:57] meets2tarun commented on #213
Sure, thanks for turning yourself here for help, we will try our best.

Would you please tell your approach towards `"Meilix script for building cleaner Ubuntu 17.10"`

[2017-11-08 18:36] fcore117 commented on #213
meets2tarun: As you see from packages i try to create quite plain desktop with one media player and with one browser, official Ubuntu is too much full of bloat and i found that debootstrab is best way to create barebone Gnome Shell Ubuntu desktop instead of removing stuff.

Like i wrote my old.txt that .iso was success but with some faults. Now i moved my old manual commands to Meilix script but i

[2017-11-09 21:49] tabesin commented on #111
@vaibhavsingh97 See ticket #96.

[2017-11-09 21:54] tabesin commented on #213
First Meilix is currently still 32Bit only.

[2017-11-10 10:16] fcore117 commented on #213
As i understand that package names should not matter and only thing that enforces 32 bit or 64bit is arch flag. I do not plan to ever use ancient 32 bit anymore in my laptop or desktop, even basic hi resolution graphics rendering will crash with 32bit.

Currently i cannot find cause what is causing that error on terminal after all packages are installed.

[2017-11-30 23:54] tabesin commented on #207
What the state of this issue?

[2017-11-30 23:55] tabesin commented on #213
First work on the issue concerning porting Meilix to 64Bit architecture optionally.

[2017-12-01 00:00] tabesin commented on #203
https://meilix.fossasia.org/ not meilix.org

[2017-12-01 00:05] tabesin commented on #213
Shouldn't you make
    !!!***custom isolinux.cfg and other needed files to image/isolinux/***!!!
a proper comment?

[2017-12-01 00:07] tabesin commented on #201
see build.sh
# Script parameters: arch mirror gnomelanguage release
# Arch to build ISO for, i386 or amd64
arch=${1:-i386}

[2017-12-01 00:08] tabesin commented on #24
In build.sh:

[2017-12-01 04:26] abishekvashok commented on #24
@tabesin but I tried to run the script with those parameters but that's not working.

[2017-12-01 04:29] abishekvashok commented on #203
ha sorry, change the cname, and add the domain in the settings. We need to make changes in some files also.

[2017-12-01 08:20] fcore117 commented on #213
tabesin: this is old and no care needed so proper comment are least use there.

Looks like my modded short script wont reach nowhere and cannot bypass error messages. Closing this and trying to find solutions elsewhere.

[2017-12-01 08:20] #213 closed

[2017-12-01 09:18] tabesin commented on #24
Of course not, so what is needed is:
1. add a 64Bit Kernel
2. Make an conditional everywhere we have 32 Bit packages right now. If 32 bit do x if 64 bit do y.

y is usually less complicated.

[2017-12-01 14:25] xeon-zolt commented on #24
Adding kernel alone does not solve the problem

[2017-12-06 07:50] meets2tarun commented on #207
@vaibhavsingh97 Are you working on this issue?

[2017-12-06 07:59] meets2tarun commented on #203
What are the resources that would be covered in apt resources?

[2017-12-06 08:12] xeon-zolt commented on #24
i am working on it by recreating everything from scratch again

[2017-12-06 11:53] abishekvashok commented on #203
@meets2tarun it will be a PPA for meilix

[2017-12-06 21:43] marvin08 commented on #207
@meets2tarun Can I take this up?

[2017-12-07 09:22] tabesin opened #215 "Move adding-Susi.sh to script folder"
This script should be in the script folder, but still be functional, so mere moving the file is probably not enough.

[2017-12-07 09:30] xeon-zolt commented on #215
should we add this to GCI ?

[2017-12-07 09:33] tabesin commented on #215
why not

[2017-12-07 09:57] tabesin commented on #201
For image-i386.tar.lzma we need a 64 Bit alternative.

[2017-12-09 16:45] abishekvashok commented on #215
@tabesin can I work on it as part of GCI?

[2017-12-10 20:23] vaibhavsingh97 commented on #207
@meets2tarun I need temp admin access to heroku deployment so that I can configure automatic deployment

[2017-12-10 21:10] xeon-zolt commented on #207
**Question** Why do you need admin access for documenting?

- Heroku is not used by Meilix it uses Travis CI for creating ISO and creating release [here ](https://github.com/fossasia/meilix/releases)
- Heroku is used by Meilix Generator for deployment of the webapp
- check https://github.com/fossasia/meilix-generator/issues/88 for automatic deployment of Heroku issue with Meilix Generator

[2017-12-11 06:20] meets2tarun commented on #215
@abishekvashok I say yes, but moreover I think you are capable of solving relatively higher issues.

[2017-12-11 06:43] abishekvashok commented on #215
@meets2tarun I would do this, I can't find more GCI tags here.

[2017-12-11 07:33] #215 closed

[2017-12-11 07:35] abishekvashok commented on #183
@tabesin any updates on this?

[2017-12-11 11:13] #123 closed

[2017-12-11 11:16] tabesin commented on #185
As a side note it also involves undoing https://github.com/fossasia/meilix/pull/177 but only when the functionality is actually there.

[2017-12-11 11:18] tabesin commented on #186
I guess I could close this item now.

[2017-12-11 11:18] #186 closed

[2017-12-11 11:19] tabesin commented on #204
Any Progress?

[2017-12-11 11:31] tabesin opened #217 "Add susi deb"
Right now Travis builds Susi  ./scripts/adding-susi.sh and create a deb in the github root.

Todo: add the package to the github root.

[2017-12-11 13:37] tabesin commented on #183
The unsolved question is why it occurs.

[2017-12-11 13:39] tabesin opened #218 "Update the packages in the repository"
Many meta packages are auto-generated while there are also the old deb packages in the repo which are being overwritten. It would make sense to update them by committing them to the Fossasia github repo.

[2017-12-11 14:40] abishekvashok commented on #204
I am trying to give it a try

[2017-12-11 15:47] abishekvashok commented on #204
@meets2tarun @tabesin I modified the script a bit, now it is giving in good logs,
I can't release releases on my fork as the api returns that there are no releases in my fork,
so, on running on my repo with release id that of fosssia/meilix repository, it shows no content, meaning it is working.

![screenshot from 2017-12-11 20-40-11](https://user-images.githubusercontent.com/8947010/33839497-67c9

[2017-12-11 15:53] abishekvashok commented on #204
Please review @fossasia/linux-devops-admin #219

[2017-12-11 17:51] xeon-zolt opened #220 "Smart LXQT theme"
### Short description
Smart Theme is the kind of theme which is applied according to wallpaper, for example, user changes his wallpaper and according to that colors of the default theme changes dynamically to match with wallpaper

- [ ] extract color pallet from wallpaper
- [ ] update theme qss files with the color pallet
- [ ] update the lxtermianl color pallet

[2017-12-11 21:06] meets2tarun commented on #204
@abishekvashok All changes made
Lets see
https://travis-ci.org/fossasia/meilix/requests?requestId=96123346

[2017-12-12 08:13] abishekvashok commented on #204
@meets2tarun, why isn't curl giving the response, can you dm me with a photo of the Travis ci dashboard pls.

[2017-12-14 11:23] 0x48piraj commented on #217
I'm on it @tabesin

[2017-12-14 11:25] 0x48piraj commented on #207
@xeon-zolt As [fossasia/meilix-generator#88](https://github.com/fossasia/meilix-generator/issues/88) is well discussed, we should close this issue :smile:

[2017-12-14 11:27] abishekvashok commented on #207
@0x48piraj they both are different.

[2017-12-14 11:35] #127 closed

[2017-12-14 11:47] abishekvashok commented on #185
@tabesin I guess we just need to include Ubiquity to be installed along with languagechooser/language-name, countrychooser/shortlist, localechooser/supported-locales during the build and placing preseed.cfg on the CD-ROM and specify its location using the file= boot parameter and fixing the boot menu. Am I right?

[2017-12-14 11:49] abishekvashok commented on #144
Duplicate of #185

[2017-12-14 11:50] 0x48piraj commented on #207
@abishekvashok ?

[2017-12-14 12:09] abishekvashok commented on #207
@0x48piraj yes you are right. Heroku is not used here in this project, the meilix-generator uses it. This issue still exists as we arent deploying doc to gh-pages I guess.

[2017-12-14 16:29] xeon-zolt commented on #185
@abishekvashok if you adding ubiquity then modify the slides too

[2017-12-14 23:09] tabesin commented on #220
Maybe implement this functionality on the LXQT / PCmanFM side, not here.

[2017-12-14 23:12] tabesin commented on #217
Workaround: Let's travis upload the deb package to the repo along the ISO.

[2017-12-15 07:17] abishekvashok commented on #185
Which sides @xeon-zolt

[2017-12-17 05:14] abishekvashok commented on #204
@meets2tarun did you try the fix I suggested?

[2017-12-17 12:14] abishekvashok commented on #185
Oh, got it.

[2017-12-17 14:24] rish4bhn commented on #220
Is someone already working on this issue?
If not, I'd love to implement this!

[2017-12-17 16:42] meets2tarun commented on #220
@rish4bhn Go for it

[2017-12-17 16:46] meets2tarun commented on #204
@abishekvashok I'm trying it locally first.

[2017-12-18 07:57] rish4bhn commented on #220
Thanks @meets2tarun, I'm on it.
I've figured out how to extract the color scheme from the wallpaper and how to update the terminal color scheme.

I'm not sure where to add this. @tabesin
Do I have to create a new LXQT theme or do I just write a small script (Python/Shell) that changes the color-schemes periodically?

[2017-12-18 09:11] abishekvashok opened #223 "Enhance the meilix logo"
- Issue type: Feature request

### Description

The current meilix logo can be seen in the meilix-artwork folder. It contains a not too good logo. We can go for a much better logo. Designs and logos are welcome :)

Note: This doesn't depend only on developing logo and replacing it in meilix-artwork but this also requires replacing it in other portions like the grub boot menu.

[2017-12-18 10:24] abishekvashok commented on #223
Quote @marioobheling,

[2017-12-19 09:52] meets2tarun commented on #220
Script would do the job I think @rish4bhn

[2017-12-19 12:05] #185 closed

[2017-12-19 12:43] abishekvashok opened #224 "Enhance readme with screenshots"
- Issue type: Feature request

### Short description
Let's have some nice screenshots of meilix, add them to the readme.md file so that it will be a pleasing look for on lookers.

[2017-12-19 12:44] tabesin commented on #220
Please check how the meilix-generator app adds the custom wallpaper. There are two aspects of it: a) meilix-generator wallpaper to custom theme b) user changes wallpaper/theme on a system. Note that there is no $home yet on the meilix generation level.

[2017-12-19 14:28] #204 closed

[2017-12-21 23:07] 0x48piraj commented on #223
We need to make a **ASCII** version of logo ?
It will be difficult to keep both **ASCII** and **standard logo**, the same.

[2017-12-22 06:10] xeon-zolt commented on #223
the current logo is not visible many times what can we do with that ?

[2017-12-22 19:04] Shivamgera commented on #218
@tabesin I would like to work on this issue, can you please guide?

[2017-12-23 16:58] meets2tarun commented on #218
@Shivamgera Sure, go ahead
There are ways mention for generating metapackages in the readme which where generated before to get the desire package into the OS. Now build.sh contains some packages which override the older one.
Further @tabesin will illustrate

[2017-12-24 15:00] abishekvashok commented on #144
Fixed in #221

[2017-12-26 01:41] naveentherocker opened #225 "No Documentation regarding Contributor Best Practices"
It would be great for new contributors to contribute if there is a Documentation regarding Contributor Best Practices.

[2017-12-26 06:50] #225 closed

[2017-12-26 21:01] tabesin commented on #223
The non-asciii logo needs enhancements. The other one could be ignored for this ticket.

[2017-12-27 14:26] abishekvashok commented on #207
@vaibhavsingh97 updates pls

[2017-12-27 14:28] abishekvashok commented on #223
@tabesin i guess Mario wants to have the ASCII version. We could convert it into png and apply it throughout meilix. What do you say?

[2017-12-29 11:41] tabesin commented on #24
Tarun you could already work on the "2) add the conditionals" issues if you want. It is also a good and simple task for a SoC student.

[2017-12-29 14:22] tabesin commented on #223
No he does not.

[2017-12-29 15:01] abishekvashok commented on #223
Then we could for some geeky stuff

[2017-12-30 13:52] vaibhavsingh97 commented on #207
@abishekvashok You can work on this issue

[2017-12-31 05:27] abishekvashok commented on #207
No, i am not stating to do that bcz i can't really understand what you are saying 😅

[2018-01-01 06:44] duttaditya18 commented on #224
Working on it!

[2018-01-01 14:58] YashKumarVerma opened #227 "Contributing Practices missing"
- Issue type: Feature request

### Short description

There must be a document containing contributing practices.

### Steps to reproduce

1. A contributing guideline should be added.

### Usecase
A documentation containing contributing practices.

###

[2018-01-01 14:58] YashKumarVerma commented on #227
I can work on it 👍

[2018-01-01 17:30] xeon-zolt commented on #224
what about GIFs showing small features of the OS ?

[2018-01-02 03:35] duttaditya18 commented on #224
@xeon-zolt Nice idea!

[2018-01-03 00:57] 0x48piraj commented on #199
@meets2tarun @tabesin Can I add a script to install 64 bit and 32 bit skype, like we did in `adding-susi.sh` ?

[2018-01-03 09:35] meets2tarun commented on #24
@tabesin Yes, I'll work for the conditions and then just integrate it with the rest but how would we able to get `image-amd64.tar.lzma` ?

[2018-01-03 09:41] meets2tarun commented on #199
@0x48piraj Piyush, I think go ahead with 64 bit.

[2018-01-03 09:43] meets2tarun commented on #223
such as:
@abishekvashok

[2018-01-03 09:45] meets2tarun commented on #207
@vaibhavsingh97
Please illustrate that on which platform you want the automatic deployment?

[2018-01-03 12:00] abishekvashok commented on #223
?

[2018-01-03 14:01] xeon-zolt commented on #207
lets create a docker file instead

[2018-01-03 14:11] xeon-zolt commented on #223
lets add this ASCII logo to lxterminal by etiting bashrc
`if [ -f /usr/bin/figlet ]; then figlet -f caligraphy meilix ; fi`

[2018-01-03 15:14] #227 closed

[2018-01-03 20:25] tabesin commented on #223
![bildschirmfoto vom 2018-01-03 21-22-14](https://user-images.githubusercontent.com/10114907/34538396-8c1118da-f0cc-11e7-9481-cd7027b8f08a.png)

[2018-01-03 22:59] tabesin commented on #223
![bildschirmfoto vom 2018-01-03 23-59-22](https://user-images.githubusercontent.com/10114907/34543629-26be6bac-f0e2-11e7-802a-3ed37ff77523.png)
![bildschirmfoto vom 2018-01-03 23-57-01](https://user-images.githubusercontent.com/10114907/34543630-2c608e6e-f0e2-11e7-8937-066fc81e06f6.png)

[2018-01-04 09:50] ParthS007 commented on #223
![meilix1](https://user-images.githubusercontent.com/24358501/34558113-c1e3dfe2-f162-11e7-9cfe-28ad9b2cb9d6.png)

[2018-01-04 09:57] ParthS007 commented on #223
@meets2tarun @xeon-zolt @tabesin  @abishekvashok  Your views. Thanks

[2018-01-04 10:14] #199 closed

[2018-01-04 10:22] tabesin commented on #223
Looks excellent!! Is there a way to take a dark orange or another colour than black? (the reason and context is that the logo ideally will also be the start button for a light and a dark theme in Meilix. Black on dark theme does not look very good and black on light theme provides too drastic contrast)

[2018-01-04 10:30] ParthS007 commented on #223
ok @tabesin  I will do the changes.

[2018-01-04 10:31] meets2tarun commented on #223
Great Job @ParthS007

[2018-01-04 11:38] 0x48piraj commented on #223
I too can contribute some mockups. Should I @meets2tarun @xeon-zolt @abishekvashok ?

[2018-01-04 12:38] abishekvashok commented on #223
Everyone is free to do so.

Your design looks awesome @ParthS007

[2018-01-04 13:39] ParthS007 commented on #223
![meilix2](https://user-images.githubusercontent.com/24358501/34565873-83d64724-f182-11e7-91ac-771f28a8ca5a.png)
![meilix3](https://user-images.githubusercontent.com/24358501/34565877-8562559c-f182-11e7-9f17-3ebffff74f48.png)
![meilix4](https://user-images.githubusercontent.com/24358501/34565952-c1fe7f80-f182-11e7-9e02-f17f396c3b74.png)

[2018-01-04 13:41] 0x48piraj commented on #223
## My Mockups :

![image](https://user-images.githubusercontent.com/5800726/34565988-df57affc-f182-11e7-9c15-191ccf042be7.png)

![image](https://user-images.githubusercontent.com/5800726/34566001-f159b8c6-f182-11e7-9f9a-460e032d8afa.png)

![image](https://user-images.githubusercontent.com/5800726/34566020-0986f01c-f183-11e7-8a40-9f022e079084.png)

Ping @ParthS007 @hpdang @mariobehling @abishekvash

[2018-01-04 14:22] xeon-zolt commented on #223
@0x48piraj your mockup theme will look awesome on installer slides

[2018-01-04 15:15] 0x48piraj commented on #223
Thanks @xeon-zolt

[2018-01-05 12:19] abishekvashok commented on #223
All the logos seems to be nice, we can wait for some more if we want and pick from these

[2018-01-05 13:59] vaibhavsingh97 commented on #223
My Designs 😅
![1](https://user-images.githubusercontent.com/8705386/34612206-ba14bdee-f24e-11e7-997c-ad85e437c151.png)
![2](https://user-images.githubusercontent.com/8705386/34612208-ba6c127e-f24e-11e7-8e13-1d53e434d1d0.png)
![3](https://user-images.githubusercontent.com/8705386/34612210-baafd644-f24e-11e7-9cfd-5c3a59f10e95.png)
![4](https://user-images.githubusercontent.com/8705386/34612211-baf2e

[2018-01-05 16:40] 0x48piraj commented on #223
I loved the jarvis styled one :sweat_smile:

[2018-01-06 06:31] xeon-zolt commented on #223
if we can have some kind of voting for these designs

[2018-01-06 09:18] tabesin commented on #223
@vaibhavsingh97 I like the crown style "M", I combined that in a (immature) mockup with the great one of ParthS007
![meimockup](https://user-images.githubusercontent.com/10114907/34638398-c5ceba28-f2ca-11e7-9631-2c026de7b405.png)

[2018-01-06 09:30] vaibhavsingh97 commented on #223
@tabesin I have all the templates
![5](https://user-images.githubusercontent.com/8705386/34638469-fd748170-f2f1-11e7-934b-eef2c677b032.png)

[2018-01-06 10:16] abishekvashok commented on #223
@vaibhavsingh97 the pink one looks superb

[2018-01-06 10:19] abishekvashok opened #230 "Release maintainer script does not delete tags"
- Issue type: Bug report

### Short description
The release maintainer script currently does a good job by deleting old releases but does not delete tags, should we delete them?

[2018-01-06 10:27] 0x48piraj commented on #223
So many designers here :sparkles:

Superb mockups :100:

[2018-01-06 10:35] xeon-zolt commented on #230
Yup cause they will increase with number of usages of meilix generator

On Sat 6 Jan, 2018, 3:49 PM Abishek V Ashok, <notifications@github.com>
wrote:

[2018-01-06 11:45] abishekvashok commented on #230
Finding if the github api supports it

[2018-01-07 15:04] meets2tarun commented on #230
I can even see older release. They aren't deleted yet.

[2018-01-07 15:25] abishekvashok commented on #230
Intresting

[2018-01-07 15:26] abishekvashok commented on #230
@meets2tarun any references

[2018-01-08 15:05] tabesin commented on #230
As far as I can see the release_manager script was never successfully run on the main repository... (I deleted quite a few legacy builds manually)

[2018-01-08 15:07] #117 closed

[2018-01-08 15:10] abishekvashok commented on #230
@tabesin the log highlights that it can find only two releases which are not longer than 10 days old. So it did'nt delete them on the last build.

[2018-01-12 09:48] duttaditya18 opened #231 "Update Documentation and Github Pages Website"
- Feature request :

### Description
Currently the GitHub Pages Website for meilix doesn't contain any information regarding the project. I suggest we work on the GitHub Pages Web page to have some basic info about the project and documentation.

### Usecase
A user must be able to get information from visiting the website and reading the documentation present there, If someone wants to contribute

[2018-01-12 11:46] abishekvashok commented on #231
It is used as a PPA @duttaditya18. However not fully operation though

[2018-01-15 09:19] tabesin commented on #223
So let's implement.

[2018-01-15 09:21] vaibhavsingh97 commented on #223
@tabesin Why you closed  the issue?

[2018-01-15 09:23] tabesin opened #232 "Implement the new superb logos"
Implement the new superb logos (https://github.com/fossasia/meilix/issues/223), by creating a new default theme and possible adjustment of the wallpaper.

- [ x] Logo

- [ ] Implement for theme menu

- [ ] Design new default wallpaper.

- [ ] any other idea

[2018-01-16 20:56] 0x48piraj commented on #223
@xeon-zolt
I can create a application for voting!
Should I ?

[2018-01-17 10:57] tabesin commented on #223
Sounds great!

[2018-01-17 11:04] 0x48piraj commented on #223
I'm on it! :100:
I'll deliver a fully functional website in a week.
Sounds good ?

[2018-01-20 18:06] ankurg22 commented on #218
@tabesin @meets2tarun I want to work on this issue. Could you elaborate more how to do it? I'm new to open source.

[2018-01-21 14:02] tabesin commented on #218
During build time deb packages are generated (debuild) on the build server. They should be added to the repository and the existing packages that are overwritten during buildtime being updated.

[2018-01-21 14:03] tabesin commented on #218
The other advantage would be that as long as no changes to these aspects are made one could skip the deb debuild during build time and spped up building, one could test the debs independently on a system etc.

[2018-01-24 21:52] alekcacko opened #233 "Error when trying to build Meilix using build.sh"
- Issue type: Bug report

### Short description

I am trying to build Meilix using build.sh but I get error.

[This](https://pastebin.com/xM4KPMUp) is the output when running build.sh.

### Environment

 - Operating system: Ubuntu 17.10
 - Software version:
 - Software source: Github Repository

### Steps to reproduce

1. Clone the repository
`git clone https://github.com/fossasia/meilix.git`
2. M

[2018-01-25 07:25] xeon-zolt commented on #233
@alekcacko thanks for the update it's due to changes in mew repo let me fix it by removing mew for while

[2018-01-25 07:52] xeon-zolt opened #235 "Zesty releases are not found"
- Issue type: Bug report

### Short description

when checking travis logs of pull #234
the error is

### Environment
Travis CI
### Steps to reproduce
try using build script from pull #234

Zesty release is not found in http://archive.ubuntu.com/ubuntu/dists/

### solution
switch to a different build

[2018-01-25 08:13] tabesin commented on #235
Zesty is EOL support for Jan  2018.

Maybe just this package source.

Could you change your pending PR in the way that you keep the Zesty to Xenial migration just focussed on this ticket and split from the other aspects?

[2018-01-25 08:15] tabesin commented on #233
Please comment out the lines, do not delete them.

[2018-01-25 08:18] xeon-zolt commented on #235
creating 2 different pulls for both

[2018-01-26 18:20] tabesin commented on #235
It seems Canonical actually removed Zesty from its servers.

[2018-01-28 04:35] meets2tarun commented on #235
Should we go for latest build release now?

[2018-02-02 00:10] #235 closed

[2018-02-02 12:56] tabesin opened #237 "Refactoring filesystem manifest"
Please check if this could be simplified and for what reasons we have this cp chain here:

[2018-02-12 20:29] tsimonq2 opened #238 "meilix-default-settings does not retain original copyright information"
It's obvious that the source package lubuntu-default-settings, which is in the Ubuntu archive, was copied to the Meilix source code. This is not a problem, except for the fact that files that originally resided in lubuntu-default-settings had copyright on them (GPL v2 belonging to Julien Lavergne).

Some files, like the Makefile (but not just the Makefile), still need to have this copyright inform

[2018-02-13 10:23] tabesin opened #239 "Add jitsi-meet"
https://jitsi.org/jitsi-meet/

[2018-02-13 11:28] tabesin commented on #238
I would be happy if you could stop the childish IPR trolling of behalf of third parties.

Obvious to me the hackish origin of both the lubuntu-default-settings package and the meilix-default-settings package is the same code base and Julian was and is free to add any copyright attribution to his code (provided it was his) in _both_ repositories and also to contact us if he observes any issues and

[2018-02-13 11:46] xeon-zolt commented on #239
we require full suite or a specific package?

[2018-02-13 17:39] tsimonq2 commented on #238
I represent Lubuntu; I am the Lubuntu Release Manager. The official Lubuntu team has to maintain this package, and while Julien does a lot of the work (and he should own the copyright for his code), this is Lubuntu's package.

I can ask him to :+1: this if you really need it, but [verification that I represent Lubuntu](https://launchpad.net/~lubuntu-admins/+members) should be enough.

I'm requesti

[2018-02-13 20:04] tabesin commented on #238
As far as I know this package was originally hacked by Andrew, Fred, Mario and.. at a Taiwan hacknight somewhere in early 2009 and later then lynksis in Berlin C-Base for the original lubuntu release and Julian played also an important role early on in LXDE packaging. I guess no one would claim copyright on it due to "treshold of creativity" or mind that Julian put his copyright notice on it for w

[2018-02-13 20:43] tabesin commented on #239
I would argue that this is a kind of popular open source skype alternative, so we should include it. Whatever seems fit.

[2018-02-18 14:16] meets2tarun opened #240 "Add-on Susi not found"
- Issue type: Bug report

### Short description

Add-on Susi has been installed into the Firefox browser by @xeon-zolt through a script but it is not found inside the extension of Firefox in meilix.

[2018-02-20 03:06] meets2tarun opened #241 "Desktop Concept based on SUSI.AI"
A more useful configurator and a new desktop concept based on Susi.ai.
@tabesin

[2018-02-22 18:16] ms10398 commented on #241
@tabesin can we integrate susi terminal client into mellix by default

Link to the repository - https://github.com/gabru-md/susi-terminal

This was made by @gabru-md and me before

[2018-02-22 18:17] ms10398 commented on #241
We were thinking to make a complete different terminal window for susi.

which can act as a complete Personal Assistant for the OS.

[2018-02-23 13:03] abishekvashok commented on #241
There's susi desktop client as well!

[2018-02-23 13:05] ms10398 commented on #241
Yeah but our approach was making a complete new client like Sirie or Cortana with its interface of a terminal which have native terminal functionalities and susi query functionalities

@abishekvashok

[2018-02-24 21:02] tabesin commented on #241
Packaged! So it you could install it also on a standard lubuntu. The real point is deep desktop integration and feature parity with Siri as a mvp.

[2018-02-24 21:10] ms10398 commented on #241
@gabu-md whats your views

[2018-03-11 17:36] xeon-zolt opened #242 "Multiple window managers present and no default one in skel"
- Issue type: Bug report
### Short description

multiple window mangers are present and I personally dont feel very good about it ( WHY ? )
we should use only one window manger as default if any window manger installed during addition of packages which should not be the case we should also have a default window manger config inside skel
### Steps to reproduce

1. Boot in live moe
### Expected beha

[2018-03-11 23:02] tabesin commented on #220
default theme. script for dynamic aspects as proof of concept.

[2018-03-14 10:26] meets2tarun commented on #201
Are making changes in that file to get the 64 bit version?

[2018-03-15 12:46] xeon-zolt commented on #24
@abishekvashok copying do not works , if you can please try fixing error in https://github.com/xeon-zolt/meilix/tree/newstart as i am not getting free time to debug it

[2018-03-18 07:19] prmsrswt commented on #239
I would like to work on this. I am new to open source so can you please guide me on this.

[2018-03-18 07:30] xeon-zolt commented on #239
@prmsrswt check scripts/chroot.sh where the packages are installed

[2018-03-18 12:16] tabesin commented on #201
For research: LZMA is an archive. Download a 64bit and a 32bit lzma image from Lubuntu, open it and compare.

Look in the code how we create the i386 lzma image.

[2018-03-18 12:17] tabesin commented on #240
Please add details, which script, where.

[2018-03-18 12:20] tabesin commented on #242
Default should be openbox.

Why does KWIN get installed? Is that a dependency of the LXQt packages?

[2018-03-18 13:06] meets2tarun commented on #240
https://github.com/fossasia/meilix/blob/master/scripts/adding-susi.sh

[2018-03-18 13:51] tabesin commented on #241
@ms10398  Of course.

We will have to discuss a lot how to do it but what it clear is that we have to take a dedicated repository that builds a deb package, define an API of required device specific fundtionality. Then we should simply look at the competition and find out how to get feature parity.
https://www.digitalcitizen.life/top-16-most-useful-cortana-commands-questions

[2018-03-18 13:53] tabesin commented on #240
okay https://github.com/fossasia/meilix/blob/master/scripts/adding-susi.sh
What do the logs say?
Is the double
cd ..
line correct? Does this script get executed at all?

[2018-03-18 14:00] #233 closed

[2018-03-18 14:20] tabesin commented on #240
root@travis-job-27f1f698-11ad-4fee-a95d-be63b58c8566:/# # Installing SUSI Deskto
p package
root@travis-job-27f1f698-11ad-4fee-a95d-be63b58c8566:/# dpkg -i SUSI-desktop.deb
[Aroot@travis-job-27f1f698-11ad-4fee-a95d-be63b58c8566:/# dpkg -i SUSI-desktop.de[Kb
dpkg: error processing archive SUSI-desktop.deb (--install):
 package architecture (amd64) does not match system (i386)
Errors were encounter

[2018-03-18 14:24] tabesin commented on #144
Is the issue fixed?

[2018-03-18 14:26] meets2tarun commented on #144
yes, @tabesin this is fixed.
Thanks to @abishekvashok

[2018-03-18 14:26] #144 closed

[2018-03-18 14:35] tabesin opened #244 "Move Generator branch to own repository"
Generator right now is not actually a "branch" and gets confused with https://github.com/fossasia/meilix-generator/. I would suggest to set up an own repo for it or if you leave the status quo please explain and document why it is this way.

[2018-03-18 14:37] xeon-zolt commented on #240
SUSI desktop deb is different and firefox extension is different

[2018-03-18 14:43] xeon-zolt commented on #244
we can shift it to meilix generator branch so that releases can be made their itself till we have another release system

[2018-03-18 14:45] xeon-zolt commented on #242
we should add quick fix by adding Openbox as default in skel and keep the branch open to find out which package causes that

[2018-04-03 09:02] vaibhavsingh97 commented on #239
Claiming, since no activity 😄

[2018-04-03 15:48] #239 closed

[2018-04-03 20:59] #37 closed

[2018-04-03 21:03] tabesin commented on #207
Feel free to beef up the documentation as you like but this issue should be closed and is not about discussing auto-deployment howto.

[2018-04-03 21:03] #207 closed

[2018-04-03 21:07] tabesin commented on #224
just do it but no need to keep this ticket open for months

[2018-04-03 21:07] #224 closed

[2018-04-03 21:09] tabesin commented on #231
https://github.com/fossasia/meilix/issues/203

[2018-04-03 21:15] #217 closed

[2018-04-06 08:02] vaibhavsingh97 commented on #237
@tabesin Yes, I can reduce the number of commands

[code]

[2018-04-06 08:11] xeon-zolt commented on #237
@vaibhavsingh97 go ahead

[2018-04-09 21:03] tabesin commented on #223
Please also provide svg files

[2018-04-09 21:06] vaibhavsingh97 commented on #223
@tabesin Only PNG/PDF can be produced. I made these designs from Canva

[2018-04-09 21:39] vaibhavsingh97 commented on #223
@tabesin Which logo you need in SVG?

[2018-04-25 07:39] mariobehling opened #248 "Take out SUSI desktop"
SUSI desktop is not build in a clean way. We need a package for that, which we should be adding differently. Please take out SUSI desktop and clean up the build.

[2018-04-25 10:53] meets2tarun commented on #248
Should we go for removing all the SUSI features including [susi_firefoxbot](https://github.com/fossasia/meilix/blob/master/scripts/adding-susi.sh) or just [SUSI Desktop](https://github.com/fossasia/meilix/tree/master/SUSI-Desktop) ?

[2018-04-25 17:07] tabesin commented on #248
If I understand correctly the current stuff is a script that could be switched on or off. So technically we **don't** have to remove code from the repo.

Mario's priority is: we need a **dedicated package for Susi desktop** to be build from an own repo, a package which then gets applied by meilix.

Also the current Meilix build needs to be fixed, maybe by reverting the recent commits that broke it

[2018-04-26 04:26] xeon-zolt commented on #248
we can do one thing add package building and deploying to SUSI repo using Travis C

[2018-04-27 12:30] tabesin commented on #237
Seems like we have to reopen it or revert the changes.

[2018-05-06 09:21] meets2tarun opened #249 "Deployment of Meilix from Generator"
Meilix is currently deploying on transfer.sh through Meilix Generator, but transfer.sh has stopped support for the deployment of more than 1 GB.
Reference: https://github.com/dutchcoders/transfer.sh/issues/112#issuecomment-369745016

Error found here while Travis building: https://travis-ci.org/meets2tarun/meilix/builds/370994886#L766

Proposed Solution: AWS, Google Cloud Platform, Github Deployme

[2018-05-11 09:44] hellozee commented on #223
![logo](https://user-images.githubusercontent.com/12135951/39918316-b2bc3c24-552d-11e8-89d9-047348465d23.png)

Here is my shot at fully converting the above logo to vector
[logo.zip](https://github.com/fossasia/meilix/files/1994785/logo.zip)

[2018-05-12 19:38] #244 closed

[2018-05-16 04:44] meets2tarun opened #252 "Implementing mailing script in master branch"
We need to implement mailing script in master branch. It is already there in generator branch and it needs to be export to the master branch.
Mailing script is used to send mail with the ISO link to the user who requested for the ISO through Meilix Generator webapp

[2018-05-16 08:34] #252 closed

[2018-05-16 19:20] meets2tarun opened #254 "Building fail of Travis [ReadTimeOut Error]"
Travis is failing build due to Readtimeout Error.

This may be due to the large log.

Idea: Decrease the tree command so as to complete the log between 10k lines.

[2018-05-16 19:59] xeon-zolt commented on #254
this is not the reason of failure it is the reason you are not able to see the reason of failure (Hint check how we saved all logs of build command to a text file and mailed it do if Travis stops showing logs after 10k lines the logs will be saved in a file and mailed)

[2018-05-16 20:09] meets2tarun commented on #254
ok, we mailed the log.txt using Travis API to the user.

So what would be reason of ReadTimeout Error?
I though the idea by the `terms` used in the error "ReadTimeout".

[2018-05-17 19:30] meets2tarun commented on #248
<img width="1680" alt="screen shot 2018-05-18 at 00 58 41" src="https://user-images.githubusercontent.com/15213246/40199339-bc48eff4-5a36-11e8-9d4b-ded481dcad09.png">

SUSI dependency also needs to be resolved.

[2018-05-17 19:33] meets2tarun commented on #248
<img width="1621" alt="screen shot 2018-05-18 at 00 58 41" src="https://user-images.githubusercontent.com/15213246/40199465-2a0cabb6-5a37-11e8-9b27-85fca8eac547.png">
SUSI dependencies also need to be resolved.

[2018-05-17 20:47] meets2tarun opened #256 "Mailing script is not sending mail"
Mailing script which is recently merged is unable to send mail.

[2018-05-17 22:47] #256 closed

[2018-05-18 12:52] tabesin commented on #254
Right. I suggest to pack the log file first.

[2018-05-18 18:05] meets2tarun opened #258 "Error in the link send via SendGrid"
SendGrid sending URL was configured according to transfer.sh but since we are using GitHub release so it needs to be configured according to that.

[2018-05-19 03:02] meets2tarun commented on #254
After disabling the tree it is still coming timeout error https://travis-ci.org/fossasia/meilix/builds/380840502#L9457
commit: https://github.com/fossasia/meilix/commit/fd320dfa642557ca5ede91da8b15cb86a7d3db8d

[2018-05-19 03:44] meets2tarun commented on #258
The date issue still persist:
https://github.com/fossasia/meilix/releases/download/eventyay/meilix-xenial-`date +%Y%m%d`-i386.iso
instead of:
https://github.com/fossasia/meilix/releases/download/eventyay/meilix-xenial-20180519-i386.iso

[2018-05-19 21:26] #258 closed

[2018-05-28 01:22] meets2tarun opened #262 "Cleaning of the Meilix repo"
Today Meilix repo include lots of files (deb files, packages, metapackages) which can also be included through script and this make the repo more crumble and dirty.

So it needs to be cleaned and well maintained.

This is an epic and several difference PRs may be needed to get it sorted.

[2018-05-29 03:55] meets2tarun opened #263 "Removal of unnecessary meta package"
There are meta package in meilix which are currently not in use and they are there in the repo.
So the idea is to remove them to optimise the size.

[2018-05-29 04:07] meets2tarun opened #264 "Removal of Skype"
Meilix is now 32 bit, and the present deb file of Skype is not working.
We even have a script for 64 bit Skype which is also of no use for the time being.

[2018-05-29 04:13] meets2tarun commented on #264
And I'm unable to find skype 32 bit

[2018-05-29 04:22] meets2tarun opened #265 "Removal of imclient"
There is deb package for imclient but imclient is no where found in the Meilix OS.

[2018-05-29 04:40] meets2tarun opened #266 "Removal of unnecessary metapacakges"
Meilix contains metapackages which is of no required use and they are also consuming space of the repo.
Its better to remove them to optimise the space.

[2018-05-29 04:43] meets2tarun opened #267 "Screensaver can still be found in the meilix"
Screensaver needs to be removed, and the script for removing screensaver is also present but the screensaver occurs at regular time.

[2018-05-30 07:33] meets2tarun commented on #254
https://blog.fossasia.org/updating-of-linux-standard-base-lsb-and-shorten-of-log-of-meilix-build/

[2018-05-30 07:34] meets2tarun commented on #267
https://blog.fossasia.org/turning-off-power-management-and-blanking-of-screen-in-meilix/

[2018-05-30 12:32] meets2tarun opened #270 "Meilix ISO boot into black screen"
I tested the latest build of meilix and found that meilix boot into a black screen and where there nothing is visible.

[2018-05-30 15:51] niccokunzmann commented on #24
Here we have collected a list of ways how to NOT provide 64 bit support:
Please add your ideas here:
https://docs.google.com/document/d/188_yWUeRguFkKuoVQgNwBGKllsK6n-V1t5XR7tzSEWI/edit

[2018-05-31 18:21] #264 closed

[2018-06-01 05:35] meets2tarun commented on #270
I drafted the release and when I checked the ISO, I found that ISO on Mar 18 is working and beyond that none of the ISO is working (all lead to a blank screen).

<img width="1163" alt="screen shot 2018-06-01 at 10 55 45" src="https://user-images.githubusercontent.com/15213246/40822561-6856123c-658a-11e8-9e5c-e60366922885.png">

Then I searched for the commit for the date 18 Mar which doesn't seem

[2018-06-02 10:37] #265 closed

[2018-06-02 11:28] meets2tarun commented on #270
<img width="618" alt="screen shot 2018-06-02 at 16 45 41" src="https://user-images.githubusercontent.com/15213246/40873897-1ed6cbfe-6686-11e8-81d0-2f0630212802.png">

I'm getting this error while booting now

@xeon-zolt @niccokunzmann @tabesin

[2018-06-02 12:13] xeon-zolt commented on #270
ramdisk is missing

[2018-06-04 21:19] tabesin commented on #183
I added a higher git level to travis.yml. Hope this helps

[2018-06-08 14:53] meets2tarun commented on #270
Now all the ISO are facing the same issue:
https://github.com/fossasia/meilix/issues/270#issuecomment-394080123

I tried on different virtual machines, still the same.

[2018-06-08 15:10] meets2tarun commented on #270
I tried these ISOs

https://github.com/fossasia/meilix/releases/tag/untagged-582f0863209939748aab
https://github.com/fossasia/meilix/releases/tag/untagged-bd1005bc8c0941c5aa1f

[2018-06-08 15:11] meets2tarun commented on #270
I even tried the drafted ISO released by commits:
https://github.com/fossasia/meilix/commit/cbe27e491c57633da2abeda456d718faff6bcbdd

[2018-06-08 15:12] meets2tarun commented on #270
I made different branches where I revert the commits and releases ISO then test it
https://github.com/meets2tarun/meilix

[2018-06-08 16:56] meets2tarun commented on #270
 ~/repos/meilix   master  git log --format="oneline" | grep -oe '^\S*' | sed 's/^/- /'
- 1d1e75d398e74c9ecd0f7358832639b77e014d78
-
- 12089627181c7613c6883423a75862b27408ed7a
-
- 5663c2438cde5e9ba8609264513f915bdf1d8cbb
-
- 94db27c887ac90601f37a6f04241f45b209bb8a2
-
- 6d1a80f43a28938ce1274745735982a45f874aa4
-
- f428fdc43075b300d84144ebf95327ce6c4b2dbe
-
- 5d1122ada9f91face6f9b66a1c99902b02c1f

[2018-06-10 05:17] meets2tarun opened #273 "Chroot Clean up"
There are susi, Skype and imclient packages left over in script.

[2018-06-12 23:22] #273 closed

[2018-06-13 13:16] meets2tarun commented on #270
@niccokunzmann
Please look here https://github.com/fossasia/meilix/issues/270#issuecomment-395822235 , I tested and update the content of the comment

[2018-06-13 19:12] meets2tarun commented on #270
Should be shift Meilix back to that working commit or try to find out whats breaking the ISO?

[2018-06-13 19:12] meets2tarun commented on #270
If I searched for the error, it doesn't seems to be error from the ISO side.
Even I tried building the ISO locally and test it, it is giving the same result.

[2018-06-13 19:13] meets2tarun commented on #270
@abishekvashok Can you look and help us?

[2018-06-14 17:14] abishekvashok commented on #270
It looks like it's more than a hardware error than the error on the iso side. Try running it on another computer if you could.

[2018-06-14 17:15] abishekvashok commented on #183
Let's see the build.

[2018-06-14 17:34] meets2tarun commented on #270
Yes, @abishekvashok
I done that but seems to be the same, sometime blank screen and sometime https://github.com/fossasia/meilix/issues/270#issuecomment-394080123 as a result.

[2018-06-14 17:38] meets2tarun commented on #270
I tried different qemu, virtual box, VMware on different machines.

[2018-06-15 11:55] #267 closed

[2018-06-16 04:26] meets2tarun opened #277 "Revert commit for the blank screen issue"
Patch for solving the Meilix ISO issue of blank screen.

[2018-06-16 04:39] meets2tarun opened #279 "Update Travis to enable apt update"
Travis has by default setup not to auto update. We need to include in Travis to apt update.

[2018-06-16 05:48] #279 closed

[2018-06-16 06:05] #277 closed

[2018-06-20 13:59] #263 closed

[2018-06-20 14:00] meets2tarun commented on #249
We are no longer using `generator branch`

[2018-06-20 14:00] #249 closed

[2018-06-20 14:08] #240 closed

[2018-06-24 12:58] meets2tarun commented on #270
https://github.com/fossasia/meilix/issues/270#issuecomment-399629896 This happens after this commit https://github.com/meets2tarun/meilix/commit/eb89388e322f83ede36511e00176ce3dd268ae7e

[2018-06-24 16:22] meets2tarun opened #283 "Downloading only script folder from Meilix Generator"
Now the chroot script downloads all Generator repo and then work only with script folder.
The idea is to download only the script folder.

[2018-06-24 16:38] niccokunzmann commented on #283
This can be achieved by providing a zip archive with the scripts only.

Possible implementations:
- upload a zip to github
- generate a zip archive using the generator
- split the script files into an own branch

[2018-06-24 16:39] niccokunzmann commented on #242
#281 removes kwin

[2018-06-25 17:52] tabesin commented on #183
the problem is that right now we have a black screen issue. Probably grub configuration

[2018-06-25 18:20] #254 closed

[2018-06-28 08:31] niccokunzmann commented on #270
Another Idea:
1. initramfs is a small linux shell. please use ls and cd to find the file containing the file system. in this black shell (initramfs)
2. try to mount the ISO file manually

[2018-06-28 11:58] tabesin opened #285 "warning package meilix-default-settings"
- Issue type: Bug report

### Short description

dpkg-gencontrol: warning: Depends field of package meilix-default-settings: unknown substitution variable ${shlibs:Depends}

### Environment

travis

[2018-06-28 16:30] #242 closed

[2018-06-28 16:34] tabesin commented on #270
Local mount:

sudo mount -o loop path/to/your/ISO_FILE.ISO /this/path
sudo umount /this/path

/this/path must exist of course

[2018-06-28 16:41] tabesin commented on #270
You could mount the March 18 (good) and the closest April (bad)l ISO image and run a diff between both directories. the result will possibly large, but you can then narrow the differences down. In particular I am interested in everything related to /boot/ and x configuration

[2018-06-28 20:34] tabesin commented on #283
See also https://stackoverflow.com/questions/7106012/download-a-single-folder-or-directory-from-a-github-repo

It is a feature issue of github

[2018-06-29 06:06] meets2tarun commented on #283
@tabesin
Yes, I used the same guide to solve this issue.

[2018-07-04 17:47] tabesin commented on #183
I solved that by adding the attribute to the travis file.

[2018-07-04 17:47] #183 closed

[2018-07-05 05:30] meets2tarun commented on #270
I updated the build to artful and tested, its the same result again.
https://github.com/fossasia/meilix/compare/master...meets2tarun:zesty?expand=1
https://github.com/meets2tarun/meilix/releases/tag/untagged-0feab5825af660eb3579
<img width="1680" alt="screenshot 2018-07-05 at 10 53 58" src="https://user-images.githubusercontent.com/15213246/42304158-75d9a96e-8042-11e8-9510-34a9c547f435.png">

[2018-07-05 15:48] abishekvashok commented on #270
initramfs is a small linux shell. please use ls and cd to find the file containing the file system filesystem.squashfs. in this black shell (initramfs)
try to mount the ISO file manually

Try this maybe @meets2tarun

[2018-07-05 17:20] meets2tarun commented on #270
This commit https://github.com/fossasia/meilix/commit/dce3b086f3056744db603b788797e2a31bb3e914
gave the following screenshot
<img width="1618" alt="screenshot 2018-07-05 at 22 48 50" src="https://user-images.githubusercontent.com/15213246/42337844-9329d602-80a5-11e8-9f2b-d5a303295d19.png">

[2018-07-05 17:32] meets2tarun opened #286 "Meilix is asking for password"
Meilix ISO boots into this screen and it asks for password.
<img width="1618" alt="screenshot 2018-07-05 at 22 48 50" src="https://user-images.githubusercontent.com/15213246/42337844-9329d602-80a5-11e8-9f2b-d5a303295d19.png">

[2018-07-09 10:40] #270 closed

[2018-07-13 15:55] meets2tarun opened #287 "Testing of the script"
- Issue type: Feature request

We have implement a script to download the script folder. The script needs testing to download and run all the scripts present inside the folder.
Reference: https://github.com/fossasia/meilix/pull/284/files#diff-333f2f40be6e16a3a754ae82087c11fbR171

[2018-07-13 20:47] tabesin commented on #262
Could this go https://github.com/fossasia/meilix/tree/master/dists/trusty ?

[2018-07-15 11:54] tabesin commented on #286
Let me check the code.

[2018-07-15 14:18] abishekvashok commented on #286
Try "live"

[2018-07-15 17:17] abishekvashok commented on #286
Nah, I mentioned to try the password "live"

[2018-07-15 17:29] meets2tarun commented on #286
Yes, I tried `live`, it still not working. @abishekvashok

[2018-07-15 21:20] tabesin commented on #286
Where did this screen come from?

[2018-07-16 03:38] meets2tarun opened #289 "Need of custom scripts for Meilix to run trigger by webapp"
### Expected behaviour

We need script for Meilix to execute by triggering the webapp

### Actual behaviour

There are two possible ways to do so:
- [ ] Downloading scripts from Generator webapp (present in script folder) to Meilix repo, and then execute it.
 - One only need to touch only one repository.
- [x] Directly commit scripts in Meilix repo.

[2018-07-16 03:38] meets2tarun commented on #289
cc: @tabesin @niccokunzmann @abishekvashok

[2018-07-16 05:34] abishekvashok commented on #289
Those scripts can be embedded by modifying the iso at the build trigger time at the web app repo can't we do that and keep this clean?

[2018-07-16 08:48] tabesin commented on #289
Have all the scripts in the meilix repo. Like scripts/add_chrome.sh

And just hand over the variables. So -pseudocode ahead - if install_chrome=yes execute add_chrome.sh

You then have to hand over a single file with the variables (I call it a "receipe").
arch= amd64
wallpaper = http://mydownloadlocation/wallpaper3.png
install_chrome = no

etc.

[2018-07-16 17:10] meets2tarun opened #291 "Moving of mailing script into the script folder"
- Issue type: Bug report/Feature request

We have mailing script in the folder https://github.com/fossasia/meilix/tree/master/mail-scripts which needs to be moved into the script folder present in the Meilix repo.

[2018-07-18 04:03] abishekvashok commented on #119
We should include a release file then or remove packages from the cdrom i.e, the live system which isn't nice.

[2018-07-20 17:25] meets2tarun opened #293 "Reenabling the Meilix Generator script"
In order to contain the error sources the interface to the Meilix generator scripts download was temp disabled by commenting it out.
 Re-enable once done.

[2018-07-20 17:25] meets2tarun opened #294 "Need for an working ISO"
ISOs generated are currently unstable for unknown reasons. Meaning from one release to the other issues emerge or fade away.

[2018-07-21 15:12] abishekvashok commented on #294
Instead of this, we should try to curtail and write a way to test things.

[2018-07-21 15:18] abishekvashok commented on #294
https://fedoraproject.org/wiki/How_to_test_updates

[2018-07-22 20:54] niccokunzmann commented on #286
I have these ideas:

1. Is there a way to choose the root shell as login? This should be possible by passing an additional parameter. This way, you can find out the user name.
2. You can create a user in the chroot and which is saved inside the squashfs. This user should exist. useradd should be the command.

[2018-07-22 22:02] tabesin commented on #286
cut -d: -f1 /etc/passwd

[2018-07-26 14:32] meets2tarun opened #296 "LSB Version of Meilix"
- Issue type: Bug report

Currently the lsb_version is set to 17.04 but Meilix is based on 16.04.
Ref: https://github.com/fossasia/meilix/blob/master/meilix-default-settings/etc/lsb-release

[2018-07-26 15:29] xeon-zolt commented on #296
low priority bug

[2018-08-06 04:39] meets2tarun commented on #24
https://github.com/fossasia/meilix/commit/9c3e88f1878155c3a825f84858c190c05839a212#diff-0b83f9dedf40d7356e5ca147a077acb4R16

[2018-08-06 04:39] #24 closed

[2018-08-07 11:12] tabesin opened #299 "Create package of mew"
Build.sh included the line:

Please build a package of mew in case this should be included again.

[2018-08-07 11:46] tabesin commented on #291
copy them first over to the script folder not to break anything and then adjust all the invocation lines.

[2018-08-07 11:50] tabesin commented on #262
I think the whole image folder could be deleted given the line in build.sh that deletes it. But please check locally first.

[2018-08-12 16:55] tabesin commented on #262
What was the result?

[2018-08-12 19:23] tabesin opened #301 "Error in release_mantainer script"
- Issue type: Bug report

### Short description
In Travis the line
./scripts/releases_maintainer.sh: line 45: current_day-09: value too great for base (error token is "09")
shows up.

[2018-08-13 09:36] meets2tarun commented on #262
Yes, I tried locally as well as on Travis.
I gave error without the image folder.
https://github.com/meets2tarun/meilix/commits/clean

[2018-08-14 02:08] tabesin opened #302 "Plymouth skipped for 64bit"
- Issue type: Bug report

Travis logs for amd64 show:
W: plymouth module (/usr/lib/x86_64-linux-gnu/plymouth//meilix-text.so) missing, skipping that theme.

[2018-08-17 02:38] abishekvashok commented on #301
Working on it.

[2018-08-18 11:57] abishekvashok commented on #301
Upss we need to convert it into integer, i.e, 09 into 9

[2018-08-18 12:08] abishekvashok commented on #301
Solution: `Prepend the string "10#" to the front of your variables.`

[2018-08-20 21:15] tabesin opened #304 "Refactoring debuild.sh"
- Issue type: Bug report/
### Short description
In debuild.sh we find the line

sudo apt-get -qq install libfile-fcntllock-perl #installing files required by meilix artwork to build plymouth

This belongs as a dependency into the package,

[2018-08-25 10:00] ramantehlan opened #305 "Build Failed"
- Issue type: Bug report

### Short description
I was trying to build ISO file, but it failed.

### Environment

 - Operating system:  Linux Mint [4.10.0-38-generic #42~16.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux]
 - Software version: Master Branch
 - Software source: [github/ramantehlan/meilix](Https://github.com/ramantehlan/meilix)

### Steps to reproduce

1. Go into the repo.
2. Run build

[2018-08-26 04:43] abishekvashok commented on #305
@ramentehlan make sure you have a proper internet connection.

[2018-08-26 09:08] ramantehlan commented on #305
@abishekvashok, I checked my network again, my internet is working quite well. In my humble opinion, I think it's a problem with some configuration, also the (Travis)[(https://travis-ci.org/fossasia/meilix)] build is failing as well.

[2018-08-26 11:08] abishekvashok commented on #305
It's about the apt repo mirrors then, I am looking into it.

[2018-08-26 13:35] abishekvashok commented on #305
Sure.

[2018-08-27 10:04] tabesin commented on #305
a) I upgraded build.sh and apt sources from "xenial" to "bionic" and also added a new lzma image. The build does fail for unknown reasons. Sure, a revert is here super simple.
b) what you have above is another issue related to your local Linux Mint install or docker image, Travis uses Linux Trusty to build. Only few tools have to be installed on the build machine.

[2018-08-27 10:05] tabesin commented on #302
Check with other plymouth theme sources, if a symlink is needed or any.

[2018-08-27 12:21] tabesin opened #306 "Refactor Plymouth themes"
Meilix currently has two Plymouth splash screen themes, logo and text. The respective files are found in the artwork folder. The naming meilix-artwork follows the convention by debian and *buntu distributions. At present both debian packages are generated during build time of Meilix and then installed. We want to make this generation (debuild) independent from the meilix build process.
.
We want t

[2018-08-27 12:45] tabesin opened #307 "Move metapackage to own repository"
Move the Meilix metapackage to a repository of its own.

[2018-08-27 13:18] xeon-zolt commented on #306
@tabesin can you create one repo for Plymouth then

[2018-08-27 14:48] abishekvashok commented on #302
https://ubuntuforums.org/showthread.php?t=2322684

[2018-08-27 14:48] abishekvashok commented on #302
It's a needed symlink.

[2018-08-27 14:50] abishekvashok commented on #305
To get over Travis ci, can we run a docker pipeline in the container running the latest ubuntu? Or should we update existing packages to give backward support.

[2018-09-02 15:38] ramantehlan commented on #305
*This is embarrassing*
I was going through the source code, I realized it run `apt update`, and that is what was causing this issue. Maybe we can have an error catching function in place to do so, I will look into it.

@abishekvashok, @xeon-zolt This issue can be closed now.

[2018-09-02 15:38] #305 closed

[2018-09-04 11:15] #291 closed

[2018-09-04 11:16] tabesin commented on #304
let's forget about it

[2018-09-04 11:16] #304 closed

[2018-09-04 11:26] tabesin commented on #306
https://github.com/fossasia/meilix-artwork

[2018-09-04 15:36] tabesin commented on #201
one item solved

[2018-09-23 09:30] ramantehlan opened #309 "ISO no working"
- Issue type: Bug report

### Short description

I was trying to install Meilix in virtual box; using the [untagged-2d4d350683a1b9499066](https://github.com/fossasia/meilix/releases/tag/untagged-2d4d350683a1b9499066) release. It ends up on a blank screen and that's it.

### Environment

 - Operating system: -
 - Software version: VirtualBox Version 5.2.18 r124319 (Qt5.6.1)
 - Software source:  [un

[2018-09-23 12:11] tabesin commented on #309
Thanks for your interest.
First on https://github.com/fossasia/meilix/releases search for
"Latest release".

This release should get you at least towards a SDDM login screen.

Please check.

[2018-09-23 12:40] ramantehlan commented on #309
The ISO I used is the latest release. I even tried to build it myself, but even that is not working out.

[2018-10-02 11:11] xeon-zolt commented on #299
@nagpalm7 you can read Debian wiki for how to create a deb package

[2018-10-02 19:56] tabesin commented on #299
see debuild.sh in the repository. Also consider build.sh and chroot.sh.

Start with helping the meilix-artwork repository effort to get an idea. Once this is done we have a model for an independent  mew repository packaging effort.

[2018-10-04 09:10] meets2tarun commented on #299
you can also have a look here https://github.com/fossasia/mew

[2018-10-06 17:27] Gauravsahadev commented on #309
I am facing the same problem while opening it virtual box.

[2018-10-15 10:09] #301 closed

[2018-10-18 16:19] meets2tarun opened #311 "Readme Improvement"
- Issue type: Feature request

### Short description

Now the readme is little complicated.

### Expected behaviour

We have to make it little easy for newbies to understand.

[2018-10-19 16:10] rpotter12 commented on #309
I am facing this problem.

[2018-10-19 16:31] tabesin commented on #309
build log see https://www.travis-ci.org/fossasia/meilix

[2018-10-20 09:07] rpotter12 commented on #309
@tabesin I have set already set it to the 64bit but still, it was showing black screen.

[2018-10-20 09:40] rahulkumaran opened #313 "Grammatical errors in the Features section of README"
- Issue type: Bug report/Feature request

### Short description

There are a few grammatical errors in the features section of README. Some spelling mistakes and all.

### Expected behaviour

Would be nice if we could ensure that these grammatical errors are rectified.
### Actual behaviour
Some words are spelled incorrectly and some articles are missing.
### Usecase

A better project quality by ta

[2018-10-20 09:40] rahulkumaran commented on #313
I'd like to take this up too! :smile:

[2018-10-20 10:19] rahulkumaran opened #315 "Use sendgrid api instead of http.client to send mails."
- Issue type: Feature request

### Short description

As far as I know, Sendgrid is being used to send the ISO is ready email to the users. Why not simply use the sendgrid python wrapper instead of the http.client? That would decrease the space complexity too be a great amount.

### Expected behaviour

Same as actual. Just that it would be done in a fewer number of lines.
### Actual behaviour

Sen

[2018-10-20 15:16] tabesin commented on #309
build log see https://www.travis-ci.org/fossasia/meilix

[2018-10-20 16:45] rpotter12 opened #316 "apps below chromium in readme file should be in same order"
- Issue type: Bug report/Feature request

### Short description

![screenshot from 2018-10-20 22-03-46](https://user-images.githubusercontent.com/34352567/47258189-3d744800-d4b5-11e8-9faa-935637607a85.png)
apps below chromium should be in same order.

[2018-10-20 16:49] rpotter12 commented on #311
@meets2tarun please close this issue. this issue is solved

[2018-10-21 17:18] #306 closed

[2018-10-21 17:19] tabesin commented on #294
We have another ticket for this. Let's close this one.

[2018-10-21 17:19] #294 closed

[2018-10-21 17:24] tabesin opened #318 "Change fossasia/meilix project link"
- Issue type: Feature request

### Short description

The Github description references meilix.fossasia.org which is an alias for apt.meilix.org.
I suggest to remove that.

[2018-10-22 13:54] tabesin commented on #318
![image](https://user-images.githubusercontent.com/10114907/47296525-c1901200-d612-11e8-9d24-8af4b594b55c.png)

[2018-10-22 15:00] abishekvashok commented on #318
Any admin, @mariobehling may be.

[2018-10-22 15:38] r0mflip commented on #294
IDK but we should probably deleted the old tagged versions of Meilix. GitHub hosts us for free but you know...

[2018-10-22 16:16] #223 closed

[2018-10-23 08:30] tabesin commented on #309
Let's assume that the issue is that we mistakenly removed files from the meilix-default-settings folder.

Check if the release from my outdated fork https://github.com/tabesin/meilix is booting into a LXQT desktop.

If it does download the meilix-default-settings folder from my fork and the meilix fork and compare the contents of boths. Maybe you find sth useful.

[2018-10-23 09:19] tabesin commented on #302
https://github.com/fossasia/meilix-artwork/issues/19

[2018-10-23 09:19] #302 closed

[2018-10-23 09:21] tabesin commented on #296
So is it just resolved by changing the string?

[2018-10-23 15:32] #311 closed

[2018-10-24 12:32] meets2tarun commented on #315
We can have this issue for GCI advanced level tasks. What do you say?

[2018-10-24 12:41] rahulkumaran commented on #315
Sure! Totally cool with that @meets2tarun

Incase nobody takes this up and solves it by the end of GCI, then I'd like to solve this !

[2018-10-25 07:21] meets2tarun opened #319 "Adding Meilix to Debian Derivative"
The idea is to add Meilix to Debian Derivative which you decided during the summer coding period.
Below is the mail which I got from Debain community.
[code]

cc: @fossasia/linux-admin @fossasia/linux-devs

[2018-10-26 11:18] tabesin opened #320 "Add documentation on login"
- Issue type: Feature request

### Short description

Please add howto  documentation in /docs folder how to get into Meilix root, and on Desktop when we are stuck at the sddm prompt.

### Environment

 - Operating system:
 - Software version:
 - Software source:

### Steps to reproduce

1.
2.
3.

### Expected behaviour

### Actual behaviour

### Usecase

### Description

[2018-10-26 11:22] tabesin opened #321 "Add documentation for virtualbox testing"
- Issue type: Bug report/Feature request

### Short description
Add a Step by Step howto on how to test Meilix ISOs with virtualbox, including sample screenshots.

The file should be added to the doc folder in this tepo.

[2018-11-01 18:25] tabesin opened #322 "Move logo.png from the root of this repo"
At present the file logo.png is in the root folder. It is to my knowledge only used for the readme.md

Tasks:

- [ ] Move file to the static folder of the meilix-generator repository. If logo.png exists rename it logo_readme.png
- [ ] Adjust the reference in the readme file of this repository to that image

[2018-11-01 18:36] tabesin opened #323 "Refactoring of sources.list in build.sh"
Sources.list contains the package sources for apt. When we change the version of Ubuntu we use as a base (see variables in the top section of build.sh) we also have to as well adapt the sources.list contents. Currently we use xenial as a base.

In the present method it is not easy to switch back and forth to other ubuntu versions.

Here is the approach for better code:
- [ ] Copy the file sources.

[2018-11-01 18:52] tabesin opened #324 "Cleanup 3 - Remove dists/trusty"
Remove the superfluos dists/trusty folder.

[2018-11-01 20:07] irahulcse commented on #324
Change the ./build.sh File.
Go and change the line
1.[ -d dists ] && sudo rm -R dists/trusty
to
[ -d dists ] && sudo rm -R dists
2. Save the file.
3. Go to the Command line and again build the file with the same commands written in the build column of readme.md.

[2018-11-01 20:49] tabesin commented on #323
(make use of the release variable)

[2018-11-01 20:58] tabesin opened #325 "Cleanup 4 Remove plymouth-meilix-logo_1.0-1_all.deb etc."
Remove the files plymouth-meilix-logo_1.0-1_all.deb and plymouth-meilix-text_1.0-1_all.deb from the Meilix repo (that will be generated during build or in the near future be fetched from meilix-artwork) but do it in a way that keeps them in the git history.

[2018-11-01 23:15] tabesin commented on #324
Awaiting the PR ;)

[2018-11-03 18:37] irahulcse commented on #309
@ramantehlan
There could be some possible reasons like you need to update your fork repo(as some files are changed earlier now) or might be needed you have not updated to the 64 bit version of Virtualbox.
Could you pls tell me your default Operating System.

[2018-11-04 14:52] irahulcse opened #329 "Resolve the cannot remove confilict of melix-default-settings"
- Issue type: Bug report during build

### Short description
![image](https://user-images.githubusercontent.com/34218254/47965620-5b25dd80-e06f-11e8-800f-268e1bd96eeb.png)

### Environment

 - Operating system: Ubuntu 18.04
 - Software version: Linux

### Steps to reproduce

1.  Might be we need to work as a sudo(root user) not really sure about it.

### Expected behaviour

Error of  not able to r

[2018-11-04 15:19] tabesin commented on #329
This shall not be removed.

[2018-11-08 13:58] #322 closed

[2018-11-10 12:54] pranav1698 commented on #309
@tabesin facing the same issue,
There is no iso release in your releases section: https://github.com/tabesin/meilix/releases

[2018-11-10 17:39] pranav1698 commented on #309
I tried running the build.sh filebut even that is not wotking it reaches to a certain file and then stops working

[2018-11-11 16:48] tabesin commented on #329
Note: this probably related to the debuild.sh script.
https://github.com/fossasia/meilix/blob/master/scripts/debuild.sh
As you can see this should be resolved.

We also have in chroot
[code]

If we are in strict mode a removal of an nonexisting file may be an error.

So make it
`[ -f blabla.deb] && rm blabla.deb`
or
` [ -d directory ] && rm -R directory`

[2018-11-11 21:40] #329 closed

[2018-11-11 21:50] tabesin opened #331 "Cannot index string published at"
- Issue type: Bug report

### Short description

Travis log shows near the end:
`
jq: error (at <stdin>:4): Cannot index string with string "published_at"
`
### Environment
travis-ci

[2018-11-15 15:05] Manas-kashyap commented on #319
@xeon-zolt I have started working on this issue, and will be editing it timely  [link](https://wiki.debian.org/Derivatives/Census/Meilix#preview)

[2018-11-15 22:40] tabesin opened #332 "Switching to Bionic"
Switching in build.sh from xenial to bionic may fail in the debootstrap component.

[2018-11-16 08:54] pranav1698 commented on #332
I would like to work on the issue

[2018-11-16 10:30] tabesin commented on #332
So the task is simple but the solution may cause some head aches and trial and error.

You fork the latest Meilix repo, then you set the default distribution "release" to bionic in build.sh instead of xenial and build e.g. via travis. This should stop after 3 minutes, as it appears in the debootstrap component. Bionic btw. is a longtime support release.

Some idea why it could fail:
- the build sy

[2018-11-16 10:51] pranav1698 commented on #332
Thanks for the help @tabesin
I will try my best to solve it

On Fri, Nov 16, 2018, 16:00 tabesin <notifications@github.com> wrote:

[2018-11-16 11:04] #323 closed

[2018-11-17 06:01] meets2tarun commented on #309
@pranav1698,
I think now it's working, we are able to login to the desktop now.

[2018-11-17 06:29] pranav1698 commented on #309
Please can you add a gif of the process till we reach the desktop

[2018-11-17 20:19] pranav1698 commented on #309
I also made it to work to get to the lxqt env from one of the patch:

![meilix 1](https://user-images.githubusercontent.com/34754265/48665428-0f921b80-ead4-11e8-9695-ffd4666dc8c9.gif)
@tabesin @meets2tarun what do you think?

[2018-11-19 10:11] tabesin commented on #309
Seems we fixed this. ;)

[2018-11-19 10:11] #309 closed

[2018-11-20 00:12] #321 closed

[2018-11-20 00:15] #325 closed

[2018-11-20 00:17] tabesin opened #335 "Delete Meilix-artwork folder"
The Meilix artwork folder in this repository is not needed anymore as meilix artwork resides in its own repo.

[2018-11-20 22:44] #335 closed

[2018-11-20 23:40] #262 closed

[2018-11-21 00:34] tabesin commented on #286
See this in the casper script:

# Allow to override USERNAME and HOST based on media information
    # make it skipable by setting FLAVOUR= in casper.conf
    if [ -f /cdrom/.disk/info ] && [ -z "$FLAVOUR" ]; then
        FLAVOUR="$(cut -d' ' -f1 "/cdrom/.disk/info" 2>/dev/null | tr '[A-Z]' '[a-z]')" || FLAVOUR=
        if [ -n "$FLAVOUR" ]; then
            HOST=$FLAVOUR
            USERNAME=$FLA

[2018-11-21 07:56] tabesin opened #337 "Cleanup - Rectify name and date patch update"
- Issue type: Feature request

### Short description
In build.sh we find below the comment
`# Fix old version and date info in .hlp files`
an wrongly updated hack from the times of a 2012 kernel script.
This is mostly dead code but could be adapted properly based on the current values of the changed files.

[2018-11-21 10:29] #201 closed

[2018-11-21 10:30] tabesin commented on #200
I essential.

[2018-11-21 10:30] #200 closed

[2018-11-21 10:31] #218 closed

[2018-11-21 10:32] #119 closed

[2018-11-21 10:33] tabesin commented on #299
So let's close this here.

[2018-11-21 10:33] #299 closed

[2018-11-21 10:34] tabesin commented on #286
resolved.

[2018-11-21 10:36] tabesin commented on #315
Great! Just tell me what you need from our side to get started. The running GCI should not be a blocker.

[2018-11-21 10:41] #296 closed

[2018-11-21 10:43] tabesin commented on #307
@mariobehling Please make a new repository fossasia/metapackage and add us to it with all the rights.

[2018-11-21 10:43] #286 closed

[2018-11-21 11:47] tabesin commented on #307
Legacy files moved to tabesin/metapackage and removed from the repo.

[2018-11-21 11:47] #307 closed

[2018-11-21 11:53] tabesin opened #338 "Cleanup 5 - Remove image folder"
Remove the folder image from this repository

[2018-11-21 12:03] pranav1698 commented on #337
I am starting to work on this issue

[2018-11-21 15:11] pranav1698 commented on #324
This is resolved in the current build

[2018-11-21 22:04] #337 closed

[2018-11-21 22:45] tabesin opened #341 "Cleanup amd64.tar.lzma as the one"
Delete image-amd64.tar.lzma. Copy the file amd64.tar.lzma over to image-amd64.tar.lzma, then change all references to amd64.tar.lzma in build.sh to image-amd64.tar.lzma.

[2018-11-21 22:48] tabesin opened #342 "Cleanup - Remove the image folder"
Remove the entire image folder from the repository (that is deleted during build anyway and later emerges as an extraction of the lzma folder during build).

[2018-11-21 22:50] tabesin opened #343 "Cleanup mail scripts"
Move the mail scripts over to the script folder and adjust all calls of them.

[2018-11-22 12:13] pranav1698 commented on #341
I am claiming this issue

[2018-11-22 12:47] #341 closed

[2018-11-22 12:50] tabesin commented on #324
no, the folder is still in the repo.

[2018-11-22 12:53] tabesin commented on #324
git rm -r directory_name

[2018-11-22 17:08] pranav1698 commented on #343
Claiming the issue

[2018-11-22 20:51] #343 closed

[2018-11-22 23:47] #338 closed

[2018-11-23 00:10] #324 closed

[2018-11-23 05:43] ramantehlan commented on #342
Why is it on hold?

[2018-11-23 22:41] tabesin commented on #342
I realised we need this legacy info for the grub boot selection customization.

[2018-11-24 06:02] #318 closed

[2018-11-24 13:13] pranav1698 opened #346 "The travis build is failing with exit code 1"
- Issue type: Bug report/Feature request

- Bug report

### Short description

In the current build the travis build is failing and exiting with code 1

### Environment

 - Operating system:
 - Software version:
 - Software source:
Travis
### Steps to reproduce

1.  Check the latest build of travis in fossasia/meilix
2.
3.

### Actual behaviour

```[0K[31;1mThe command "./build.sh |& tee home/trav

[2018-11-24 14:05] tabesin commented on #121
Should be resolved in meilix-default-settings... ?!

[2018-11-24 14:08] pranav1698 commented on #121
I was just working on it and it is resolved by inserting the no-display line in the file you mentioned earlier in the conversation

[2018-11-24 14:14] tabesin commented on #346
I tried to export the log.txt together with the iso.

[2018-11-24 19:32] tabesin commented on #121
Right. It assumes it existence. However it is more general.

Am Sa., 24. Nov. 2018, 20:27 hat Pranav Kulshrestha <
notifications@github.com> geschrieben:

[2018-11-24 20:13] #346 closed

[2018-11-29 08:59] #121 closed

[2018-11-29 12:14] pranav1698 opened #348 "Getting file not found error for log.txt"
- Issue type: Bug report

### Short description

In the travis builds we are getting this error at the end of the log
[code]
It should be because of moving the mail-scripts file into the scripts directory

### Environment

 - Operating system: Travis
 - Software version:
 - Software source:

### Steps to reproduce

1.  At the last of the travis builds
2.
3.

### Expected behaviour

### Actual beha